---
title: News &nbsp;&bull;&nbsp; Kent &amp; Kurwen
layout: news
---
<div id="nav" class="top hidden">
      <a href="/" id="symbol">Home</a>
      <ul>
        <li>
          <a href="/collections/">Collections</a>
        </li>
        <li>
          <a href="/heritage/"><i>Our</i> Heritage</a>
        </li>
        <li>
          <span class="current">News</span>
        </li>
        <li>
          <a href="/stores/"><i>Our</i> Stores</a>
        </li>
      </ul>
    </div>

    <!-- Article 4 -->
    <div class="article">
      <div class="text">
        <h3>Kent &amp; Curwen Royal Charity Polo Cup</h3>
        <p>
          On July 21st, the Kent &amp; Curwen Royal Charity Polo Cup was
          hosted at Lord Andrew Lloyd Webber’s Berskhire Estate, Watership
          Down. The glamourous event saw over 400 VIP guests attend to support
          Sentebale and Tusk Trust - Prince Harry and Prince William’s
          respective charities.
        </p>
        <p>
          Special Guests included Prince Harry of Wales, Lord and Lady Lloyd
          Webber, Sabrina Fung, Aaron Kwok, Timothy Fok, Lady Gabriella
          Windsor, Lady Henrietta Spencer Churchill, and Twiggy.
        </p>
        <ul>
          <li>
            <a class="graphic fb" rel="nofollow" target="_blank"
              onclick="window.open ('http://www.facebook.com/sharer.php?u=' +
              'http://kentandcurwen.co.uk/news','mywindow',
              'width=650,height=370');">Share on Facebook</a>
          </li>
          <li>
            <a class="graphic tw" rel="nofollow" target="_blank"
              onclick="window.open ('http://twitter.com/share?url=' +
              'http://kentandcurwen.co.uk/news&text=' +
              'The%20new%20Kent%20and%20Curwen%20website:&count=horiztonal',
              'mywindow', 'width=550,height=250');">Share on Twitter</a>
          </li>
        </ul>
      </div>
      <div class="images">
        <img src="/media/kent-and-curwen-article4-01.jpg" alt="" width="" height="">
        <div class="col">
          <img src="/media/kent-and-curwen-article4-02.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-03.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-04.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article4-05.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-06.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article4-07.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-08.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-09.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article4-10.jpg" alt="" width="" height="">
        </div>
      </div>
    </div>

    <!-- Article 3 -->
    <div class="article">
      <div class="text">
        <h3>Official Olympic Uniform Sponsor: Hong Kong, China</h3>
        <p>
          In keeping with its rich heritage of sport, Kent &amp; Curwen is
          proud to be the Official Uniform Sponsor for the Olympics team of
          Hong Kong, China at the London 2012 Olympic Games.
        </p>
        <ul>
          <li>
            <a class="graphic fb" rel="nofollow" target="_blank"
              onclick="window.open ('http://www.facebook.com/sharer.php?u=' +
              'http://kentandcurwen.co.uk/news','mywindow',
              'width=650,height=370');">Share on Facebook</a>
          </li>
          <li>
            <a class="graphic tw" rel="nofollow" target="_blank"
              onclick="window.open ('http://twitter.com/share?url=' +
              'http://kentandcurwen.co.uk/news&text=' +
              'The%20new%20Kent%20and%20Curwen%20website:&count=horiztonal',
              'mywindow', 'width=550,height=250');">Share on Twitter</a>
          </li>
        </ul>
      </div>
      <div class="images">
        <img src="/media/kent-and-curwen-article3-01.jpg" alt="" width="" height="">
        <div class="col">
          <img src="/media/kent-and-curwen-article3-02.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article3-03.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article3-04.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article3-05.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article3-06.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article3-07.jpg" alt="" width="" height="">
        </div>
      </div>
    </div>

    <!-- Article 2 -->
    <div class="article">
      <div class="text">
        <h3>Kent &amp; Curwen Flannels For Heroes</h3>
        <p>
          Under sunny skies, Kent &amp; Curwen hosted the Kent &amp; Curwen
          Flannels for Heroes charity cricket match on the historical grounds
          of the Chelsea Royal Hospital at Burton Court, London, to benefit
          wounded British servicemen through the charities Help for Heroes and
          Walking with the Wounded.
        </p>
        <p>
          World famous cricketers in attendance included Kevin Pietersen,
          Michael Vaughan, and Isa Guha.. Also lending their support to this
          worthwhile cause were Ben Goldsmith, Lady Frederick Windsor, HSH
          Princess Olga Romanoff and legendary actress Peggy Cummins, who
          supported the original fund raising exhibition matches of the
          infamous Hollywood Cricket Club in the 1940’s that dressed in Kent
          &amp; Curwen’s classic cricket attire.
        </p>
        <ul>
          <li>
            <a class="graphic fb" rel="nofollow" target="_blank"
              onclick="window.open ('http://www.facebook.com/sharer.php?u=' +
              'http://kentandcurwen.co.uk/news','mywindow',
              'width=650,height=370');">Share on Facebook</a>
          </li>
          <li>
            <a class="graphic tw" rel="nofollow" target="_blank"
              onclick="window.open ('http://twitter.com/share?url=' +
              'http://kentandcurwen.co.uk/news&text=' +
              'The%20new%20Kent%20and%20Curwen%20website:&count=horiztonal',
              'mywindow', 'width=550,height=250');">Share on Twitter</a>
          </li>
        </ul>
      </div>
      <div class="images">
        <img src="/media/kent-and-curwen-article2-01.jpg" alt="" width="" height="">
        <div class="col">
          <img src="/media/kent-and-curwen-article2-02.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-03.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article2-04.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-05.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-06.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-07.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article2-08.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-09.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article2-10.jpg" alt="" width="" height="">
        </div>
      </div>
    </div>

    <!-- Article 1 -->
    <div class="article">
      <div class="text">
        <h3>Kent &amp; Curwen Centenary Sprint Cup</h3>
        <p>
          Kent &amp; Curwen hosted the “Kent &amp; Curwen Centenary Sprint
          Cup” celebrations at the Shatin Racecourse on January 15, 2012.
        </p>
        <p>
          This year’s event featured an extraordinary lineup of races and
          entertaining programs; and included a special appearance from
          Guest-of-Honor, Mr. Peter Mark Andrew Phillips the eldest grandson
          of Queen Elizabeth II, the only son of Princess Anne, The Princess
          Royal, and her husband, Captain Mark Phillips.
        </p>
        <p>
          Other prestigious guests in attendance included glitterati and horse
          lovers: Mr. and Mrs. Vincent and Loretta Lo, Mr. Eric Fok, Ms. Irene
          Wan, Mr. and Mrs. Dominique and Jane Lee, Ms. Vivienne Tam, Mr.
          Tommy Hilfiger, Ms. Sabrina Fung, Dr. Victor Fung, Dr. William Fung,
          Allan Zeman and Mr. Aaron Kwok, the Brand Ambassador for Kent &amp;
          Curwen.
        </p>
        <ul>
          <li>
            <a class="graphic fb" rel="nofollow" target="_blank"
              onclick="window.open ('http://www.facebook.com/sharer.php?u=' +
              'http://kentandcurwen.co.uk/news','mywindow',
              'width=650,height=370');">Share on Facebook</a>
          </li>
          <li>
            <a class="graphic tw" rel="nofollow" target="_blank"
              onclick="window.open ('http://twitter.com/share?url=' +
              'http://kentandcurwen.co.uk/news&text=' +
              'The%20new%20Kent%20and%20Curwen%20website:&count=horiztonal',
              'mywindow', 'width=550,height=250');">Share on Twitter</a>
          </li>
        </ul>
      </div>
      <div class="images">
        <img src="/media/kent-and-curwen-article1-01.jpg" alt="" width="" height="">
        <div class="col">
          <img src="/media/kent-and-curwen-article1-02.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-03.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-04.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article1-05.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-06.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-07.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-08.jpg" alt="" width="" height="">
        </div>
        <div class="col">
          <img src="/media/kent-and-curwen-article1-09.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-10.jpg" alt="" width="" height="">
          <img src="/media/kent-and-curwen-article1-11.jpg" alt="" width="" height="">
        </div>
      </div>
    </div>

    <div class="spinner">
      <h6>Loading...</h6>
    </div>