---
title: Kent &amp; Kurwen • Fall / Winter 2012
---

<div class="section parallax">

  <!-- Screen 1 -->
  <div>
    <h1 data-stellar-ratio="0.5">Fall/Winter 2012<br>Lookbook</h1>
    <img class="full" width="3000" height="2000" data-stellar-ratio="1.1"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-cover.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Cover Image">
  </div>

  <!-- Screen 2 -->
  <div>
    <h2 class="w36 l50">Explore</h2>
    <p class="w36 l50">
      Inspired by gentlemen explorers of the past and present &mdash;
      adventurous men of wit and bravery. This season, Kent &amp; Curwen
      pays homage to the quintessential British explorer - individuals
      unperturbed by the unknown and ready to break new ground with style.
    </p>
    <img class="w28 l11" data-stellar-ratio="1.2"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-1.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w36 l31" data-stellar-ratio="2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-2.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 3 -->
  <div>
    <img class="w49 l11" data-stellar-ratio="1.1"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-3.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w31 l57" data-stellar-ratio="1.5"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-4.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 4 -->
  <div>
    <img class="full" data-stellar-ratio="1.5"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-5.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 5 -->
  <div>
    <img class="w36 l11" data-stellar-ratio="1.1"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-6.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w36 l36" data-stellar-ratio="2"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-7.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w25 l66" data-stellar-ratio="1.5"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-8.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 6 -->
  <div>
    <img class="w36 l31" data-stellar-ratio="1.8"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-9.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w36 l57" data-stellar-ratio="1.1"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-10.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 7 -->
  <div>
    <img class="full" data-stellar-ratio="1.5"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-11.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 8 -->
  <div>
    <img class="w36 l11" data-stellar-ratio="1.2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-12.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w31 l57" data-stellar-ratio="2"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-13.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 9 -->
  <div>
    <img class="w28 l24" data-stellar-ratio="2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-14.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w40 l47" data-stellar-ratio="1.4"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-15.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 10 -->
  <div>
    <img class="full" data-stellar-ratio="1.6"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-16.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>


  <!-- Screen 11 -->
  <div>
    <img class="w25 l11" data-stellar-ratio="1.1"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-17.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w31 l31" data-stellar-ratio="2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-18.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w28 l61" data-stellar-ratio="1.6"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-19.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 12 -->
  <div>
    <img class="w28 l11" data-stellar-ratio="1.5"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-20.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w34 l31" data-stellar-ratio="1.8"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-21.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w31 l57" data-stellar-ratio="1.2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-22.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 13 -->
  <div>
    <img class="full" data-stellar-ratio="1.5"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-23.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 14 -->
  <div>
    <img class="w31 l26" data-stellar-ratio="1.1"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-24.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w42 l50" data-stellar-ratio="1.8"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-25.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 15 -->
  <div>
    <img class="full" data-stellar-ratio="1.5"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-26.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 16 -->
  <div>
    <img class="w21 l11" data-stellar-ratio="1.4"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-27.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w28 l26" data-stellar-ratio="2.6"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-28.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w28 l50" data-stellar-ratio="2"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-29.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w21 l74" data-stellar-ratio="1.6"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-30.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 17 -->
  <div>
    <img class="w31 l11" data-stellar-ratio="1.6"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-31.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w21 l36" data-stellar-ratio="2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-32.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w28 l54" data-stellar-ratio="1.6"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-33.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    <img class="w21 l74" data-stellar-ratio="1.2"
      src="http://media.b.kentandcurwen.co.uk/kent-and-curwen-fw12-34.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

  <!-- Screen 18 -->
  <div>
    <img class="full"
      src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-fw12-35.jpg"
      alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
  </div>

</div>

<div class="spinner">
  <h6>Loading...</h6>
</div>
