---
title: Fall / Winter 2012 Lookbook &nbsp;&bull;&nbsp; Kent &amp; Kurwen
layout: collection
---
<div id="nav" class="top hidden">
      <a href="/" id="symbol">Home</a>
      <ul>
        <li>
          <span class="current">Collections</span>
        </li>
        <li>
          <a href="/heritage/"><i>Our</i> Heritage</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
        <li>
          <a href="/stores/"><i>Our</i> Stores</a>
        </li>
      </ul>
    </div>

    <div class="spinner">
      <h6>Loading...</h6>
    </div>

    <!-- Screen 1 -->
    <div class="screen cover">
      <h1 class="t300" data-stellar-ratio="0.5">Fall/Winter 2012<br>Lookbook</h1>
      <img class="full" width="3000" height="2000" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-cover.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Cover Image">
    </div>

    <!-- Screen 2 -->
    <div class="screen">
      <h2 class="w36 l50 t70">Explore</h2>
      <p class="w36 l50 t100">
        Inspired by gentlemen explorers of the past and present &mdash;
        adventurous men of wit and bravery. This season, Kent &amp; Curwen
        pays homage to the quintessential British explorer &mdash; individuals
        unperturbed by the unknown and ready to break new ground with style.
      </p>
      <img class="w28 l11 t30" data-stellar-ratio="1.2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-1.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w36 l31 t300" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-2.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 3 -->
    <div class="screen h90p">
      <img class="w49 l11" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-3.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w31 l57 t120" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-4.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 4 -->
    <div class="screen">
      <img class="full" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-5.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 5 -->
    <div class="screen h85p">
      <img class="w36 l11 t30" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-6.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w36 l36 t130" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-7.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w25 l66 t70" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-8.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 6 -->
    <div class="screen h75p">
      <img class="w36 l31 t80 z1" data-stellar-ratio="1.8"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-9.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w36 l57 t50" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-10.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 7 -->
    <div class="screen h90p">
      <img class="full" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-11.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 8 -->
    <div class="screen h80p">
      <img class="w36 l11 t80" data-stellar-ratio="1.2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-12.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w31 l57 t140" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-13.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 9 -->
    <div class="screen h75p">
      <img class="w28 l24 t150 z1" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-14.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w40 l47 t50" data-stellar-ratio="1.4"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-15.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 10 -->
    <div class="screen h90p z2">
      <img class="full" data-stellar-ratio="1.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-16.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>


    <!-- Screen 11 -->
    <div class="screen h70p">
      <img class="w25 l11 t20" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-17.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w31 l31 t170 z1" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-18.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w28 l61 t20" data-stellar-ratio="1.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-19.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 12 -->
    <div class="screen h80p">
      <img class="w28 l11 t150" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-20.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w34 l31 z1" data-stellar-ratio="1.8"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-21.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w31 l57 t230" data-stellar-ratio="1.2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-22.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 13 -->
    <div class="screen">
      <img class="full" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-23.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 14 -->
    <div class="screen h80p">
      <img class="w31 l26 t50" data-stellar-ratio="1.1"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-24.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w42 l50 t20" data-stellar-ratio="1.8"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-25.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 15 -->
    <div class="screen">
      <img class="full" data-stellar-ratio="1.5"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-26.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 16 -->
    <div class="screen h70p">
      <img class="w21 l11 t120" data-stellar-ratio="1.4"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-27.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w28 l26 t70 z2" data-stellar-ratio="2.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-28.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w28 l50 t250 z1" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-29.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w21 l74 t310" data-stellar-ratio="1.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-30.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 17 -->
    <div class="screen h110p">
      <img class="w31 l11 t180" data-stellar-ratio="1.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-31.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w21 l36 t50" data-stellar-ratio="2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-32.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w28 l54 t320 z1" data-stellar-ratio="1.6"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-33.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
      <img class="w21 l74 t160" data-stellar-ratio="1.2"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-34.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>

    <!-- Screen 18 -->
    <div class="screen">
      <img class="full"
        src="http://media.savantstudio.co.uk/kentandcurwen/fw12-35.jpg"
        alt="Kent &amp; Curwen Fall/Winter 2012 Collection Image">
    </div>