body {
  .screen {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    > * {
      position: absolute;
      // top: 0;
      // left: 0;
      display: inline-block;
      height: auto;
    }
  }
  h1 {
    left: 0 !important;
    z-index: 2;
    width: 100%;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
  }
  img {
    padding: 0;
    height: auto;
  }
}

body.parallax.portrait {
  .screen.cover {
    img {
      width: auto;
      height: 100%;
    }
  }
}

// Elements with width based on class.
.w18  {width:  18%;} //  518px on 15" Retina.
.w21  {width:  21%;} //  605px on 15" Retina.
.w23  {width:  23%;} //  662px on 15" Retina.
.w25  {width:  25%;} //  720px on 15" Retina.
.w28  {width:  28%;} //  807px on 15" Retina.
.w31  {width:  31%;} //  893px on 15" Retina.
.w34  {width:  34%;} //  980px on 15" Retina.
.w36  {width:  36%;} // 1037px on 15" Retina.
.w40  {width:  40%;} // 1152px on 15" Retina.
.w42  {width:  42%;} // 1210px on 15" Retina.
.w49  {width:  49%;} // 1412px on 15" Retina.
.w50  {width:  50%;} // 1440px on 15" Retina.
.w62  {width:  62%;} // 1785px on 15" Retina.
.w68  {width:  68%;} // 1958px on 15" Retina.
.w80  {width:  80%;} // 2304px on 15" Retina.
.full {width: 100%;} // 2880px on 15" Retina.

// Elements with position based on class.
.full {left:  0% !important;}
.l2   {left:  2% !important;}
.l6   {left:  6% !important;}
.l11  {left: 11% !important;}
.l14  {left: 14% !important;}
.l17  {left: 17% !important;}
.l24  {left: 24% !important;}
.l25  {left: 25% !important;}
.l26  {left: 26% !important;}
.l28  {left: 28% !important;}
.l31  {left: 31% !important;}
.l36  {left: 36% !important;}
.l38  {left: 38% !important;}
.l40  {left: 40% !important;}
.l44  {left: 44% !important;}
.l47  {left: 47% !important;}
.l50  {left: 50% !important;}
.l52  {left: 52% !important;}
.l54  {left: 54% !important;}
.l57  {left: 57% !important;}
.l61  {left: 61% !important;}
.l66  {left: 66% !important;}
.l74  {left: 74% !important;}
.l79  {left: 79% !important;}

// Elements with z-index based on class.
.z1 {z-index: 1;}
.z2 {z-index: 2;}

// Elements with top offset based on class.
.t20  {top:  20px;}
.t30  {top:  30px;}
.t40  {top:  40px;}
.t50  {top:  50px;}
.t60  {top:  60px;}
.t70  {top:  70px;}
.t80  {top:  80px;}
.t90  {top:  90px;}
.t100 {top: 100px;}
.t110 {top: 110px;}
.t120 {top: 120px;}
.t130 {top: 130px;}
.t140 {top: 140px;}
.t150 {top: 150px;}
.t160 {top: 160px;}
.t170 {top: 170px;}
.t180 {top: 180px;}
.t190 {top: 190px;}
.t200 {top: 200px;}
.t230 {top: 230px;}
.t250 {top: 250px;}
.t300 {top: 300px;}
.t320 {top: 320px;}

// Elements with height based on class.
.h70p  {height:  70% !important;}
.h75p  {height:  75% !important;}
.h80p  {height:  80% !important;}
.h85p  {height:  85% !important;}
.h90p  {height:  90% !important;}
.h110p {height: 110% !important;}
