body.collections .section {

  > *:nth-child(1)  {
    overflow: hidden;
    > *:nth-child(1) {top: 300px;}
    > *:nth-child(2) {}
  }

  > *:nth-child(2)  {
    > *:nth-child(1) {top: 110px;}
    > *:nth-child(2) {top: 140px;}
    > *:nth-child(3) {top: 30px;}
    > *:nth-child(4) {top: 300px;}
  }

  > *:nth-child(3)  {
    height: 90%;
    > *:nth-child(1) {}
    > *:nth-child(2) {top: 120px;}
  }

  > *:nth-child(4)  {}

  > *:nth-child(5)  {
    height: 85%;
    > *:nth-child(1) {top: 30px;}
    > *:nth-child(2) {top: 130px;}
    > *:nth-child(3) {top: 70px;}
  }

  > *:nth-child(6)  {
    height: 75%;
    > *:nth-child(1) {top: 80px; z-index: 1;}
    > *:nth-child(2) {top: 50px;}
  }

  > *:nth-child(7)  {
    height: 90%;
  }

  > *:nth-child(8)  {
    height: 80%;
    > *:nth-child(1) {top: 80px;}
    > *:nth-child(2) {top: 140px;}
  }

  > *:nth-child(9)  {
  height: 75%;
    > *:nth-child(1) {top: 150px; z-index: 1;}
    > *:nth-child(2) {top: 50px;}
  }

  > *:nth-child(10) {
    height: 90%;
    z-index: 2;
  }

  > *:nth-child(11) {
  height: 70%;
    > *:nth-child(1) {top: 20px;}
    > *:nth-child(2) {top: 170px; z-index: 1;}
    > *:nth-child(3) {top: 20px;}
  }

  > *:nth-child(12) {
  height: 80%;
    > *:nth-child(1) {top: 150px;}
    > *:nth-child(2) {z-index: 1;}
    > *:nth-child(3) {top: 230px;}
  }

  > *:nth-child(13) {}

  > *:nth-child(14) {
    height: 80%;
    > *:nth-child(1) {top: 50px;}
    > *:nth-child(2) {top: 120px;}
  }

  > *:nth-child(15) {}

  > *:nth-child(16) {
    height: 70%;
    > *:nth-child(1) {top: 120px;}
    > *:nth-child(2) {top: 70px; z-index: 2;}
    > *:nth-child(3) {top: 250px; z-index: 1;}
    > *:nth-child(4) {top: 310px;}
  }

  > *:nth-child(17) {
    height: 110%;
    > *:nth-child(1) {top: 180px;}
    > *:nth-child(2) {top: 50px; z-index: 1;}
    > *:nth-child(3) {top: 320px;}
    > *:nth-child(4) {top: 160px;}
  }

  > *:nth-child(18) {}

  > *:nth-child(19) {}

  > *:nth-child(20) {}

  > *:nth-child(21) {}

  > *:nth-child(22) {}

  > *:nth-child(23) {}

  > *:nth-child(24) {}

  > *:nth-child(25) {}

  > *:nth-child(26) {}

  > *:nth-child(27) {}

  > *:nth-child(28) {}

  > *:nth-child(29) {}

  > *:nth-child(30) {}

  > *:nth-child(31) {}

  > *:nth-child(32) {}

  > *:nth-child(33) {}

  > *:nth-child(34) {}

  > *:nth-child(35) {}

  > *:nth-child(36) {}

  > *:nth-child(37) {}

  > *:nth-child(38) {}

  > *:nth-child(39) {}

  > *:nth-child(40) {
    height: 200%;
  }

  > *:nth-child(41) {}

  > *:nth-child(42) {}

  > *:nth-child(43) {}

}

body.collections.mobile .section {
  > * {
    padding-bottom: 200px;
  }
}






