/* Transition animations. */

body.cover {
  background-color: #111;
  overflow: hidden;
  #nav {
    // display: none;
    opacity: 0;
    filter: alpha(opacity = 0);
  }
  .cover {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    img {
      left: 0;
      position: absolute;
      top: 0;
      display: none;
      // opacity: 0;
      // filter: alpha(opacity = 0);
    }
    img.active {
      // opacity: 1;
      // filter: alpha(opacity = 100);
    }
  }
}

body.cover.ready {

  #nav {
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transition-duration: 3.75s;
       -moz-transition-duration: 3.75s;
         -o-transition-duration: 3.75s;
            transition-duration: 3.75s;
  }

  .cover img {
    // -webkit-transition-duration: 3.75s;
       // -moz-transition-duration: 3.75s;
         // -o-transition-duration: 3.75s;
            // transition-duration: 3.75s;
    // -webkit-transition-property: opacity;
       // -moz-transition-property: opacity;
         // -o-transition-property: opacity;
            // transition-property: opacity;
  }
}

body.cover.mobile {

  #nav {
    background: transparent url('/media/px-transparent.png') 0 0 repeat;
    background: rgba(0,0,0,0) none 0 0 no-repeat;
  }

}
