/* Transition animations. */

body.cover {

  #nav {
    opacity: 0;
    filter: alpha(opacity = 0);
  }

  .section {
    background-color: #000110;
  }

  .cover {
    img {
      opacity: 0;
      filter: alpha(opacity = 0);
    }
    img.active {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}

body.cover.ready {

  #nav {
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transition-duration: 3.75s;
       -moz-transition-duration: 3.75s;
         -o-transition-duration: 3.75s;
            transition-duration: 3.75s;
  }

  .cover img {
    -webkit-transition-duration: 3.75s;
       -moz-transition-duration: 3.75s;
         -o-transition-duration: 3.75s;
            transition-duration: 3.75s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
  }
}

body.cover.mobile {

  #nav {
    background: transparent url('/media/px-transparent.png') 0 0 repeat;
    background: rgba(0,0,0,0) none 0 0 no-repeat;
  }

}
