/* Page header with the brand name on the home page */

#header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: -40px 0 0 -507px;
  width: 1015px;
  height: 80px !important;
  float: left;
  h1 {
    top: 0;
    display: block;
    margin: 0;
    margin: 0;
    width: 1015px;
    height: 80px;
    height: 80px;
    float: left;
  }
}

#header h1 > * {
  position: relative;
  // display: inline-block;
  display: inline;
  float: left;
  height: 80px;
  background-position: 0 0;
  background-image: url(../media/graphic-sprite-logotype.png);
  /* Make the declaration important for better Firefox compability*/
  background-size: 772px 150px !important;
  background-repeat: no-repeat;
  color: rgba(255,255,255,0);
  font-size: 0;
}
/* First Character (K) */
#header h1 > *.nth-child-1 {
  margin: 0 0 0 7px;
  width: 75px;
  background-position: -350px 0px;
  -webkit-transform: translateX(-37px);
     -moz-transform: translateX(-37px);
       -o-transform: translateX(-37px);
          transform: translateX(-37px);
  -webkit-animation: letter1 15s ease-out;
     -moz-animation: letter1 15s ease-out;
       -o-animation: letter1 15s ease-out;
          animation: letter1 15s ease-out;
}
/* Second Character (E) */
#header h1 > *.nth-child-2 {
  margin: 0 7px;
  width: 64px;
  background-position: -216px 0px;
  -webkit-transform: translateX(-31px);
     -moz-transform: translateX(-31px);
       -o-transform: translateX(-31px);
          transform: translateX(-31px);
  -webkit-animation: letter2 15s ease-out;
     -moz-animation: letter2 15s ease-out;
       -o-animation: letter2 15s ease-out;
          animation: letter2 15s ease-out;
}
/* Third Character (N) */
#header h1 > *.nth-child-3 {
  margin: 0 7px;
  width: 79px;
  background-position: -426px 0px;
  -webkit-transform: translateX(-21px);
     -moz-transform: translateX(-21px);
       -o-transform: translateX(-21px);
          transform: translateX(-21px);
  -webkit-animation: letter3 15s ease-out;
     -moz-animation: letter3 15s ease-out;
       -o-animation: letter3 15s ease-out;
          animation: letter3 15s ease-out;
}
/* Fourth Character (T) */
#header h1 > *.nth-child-4 {
  margin: 0 4px;
  width: 68px ;
  background-position: -281px 0px;
  -webkit-transform: translateX(-17px);
     -moz-transform: translateX(-17px);
       -o-transform: translateX(-17px);
          transform: translateX(-17px);
  -webkit-animation: letter4 15s ease-out;
     -moz-animation: letter4 15s ease-out;
       -o-animation: letter4 15s ease-out;
          animation: letter4 15s ease-out;
}
/* Fifth Character (Ampersand) */
#header h1 > *.nth-child-5 {
  margin: 0 40px 0 44px;
  width: 72px;
  background-position: -76px 0px;
  -webkit-transform: translateX(-10px);
     -moz-transform: translateX(-10px);
       -o-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-animation: letter5 15s ease-out;
     -moz-animation: letter5 15s ease-out;
       -o-animation: letter5 15s ease-out;
          animation: letter5 15s ease-out;
}
/* Sixth Character (C) */
#header h1 > *.nth-child-6 {
  margin: 0 5px 0 6px;
  width: 66px;
  background-position: -149px 0px;
  -webkit-transform: translateX(2px);
     -moz-transform: translateX(2px);
       -o-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-animation: letter6 15s ease-out;
     -moz-animation: letter6 15s ease-out;
       -o-animation: letter6 15s ease-out;
          animation: letter6 15s ease-out;
}
/* Seventh Character (U) */
#header h1 > *.nth-child-7 {
  margin: 0 7px;
  width: 79px;
  background-position: -582px 0px;
  -webkit-transform: translateX(10px);
     -moz-transform: translateX(10px);
       -o-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: letter7 15s ease-out;
     -moz-animation: letter7 15s ease-out;
       -o-animation: letter7 15s ease-out;
          animation: letter7 15s ease-out;
}
/* Eighth Character (R) */
#header h1 > *.nth-child-8 {
  margin: 0 0 0 4px;
  width: 75px ;
  background-position: -506px 0px;
  -webkit-transform: translateX(19px);
     -moz-transform: translateX(19px);
       -o-transform: translateX(19px);
          transform: translateX(19px);
  -webkit-animation: letter8 15s ease-out;
     -moz-animation: letter8 15s ease-out;
       -o-animation: letter8 15s ease-out;
          animation: letter8 15s ease-out;
}
/* Ninth Character (W) */
#header h1 > *.nth-child-9 {
  margin: 0;
  width: 110px;
  background-position: -662px 0px;
  -webkit-transform: translateX(28px);
     -moz-transform: translateX(28px);
       -o-transform: translateX(28px);
          transform: translateX(28px);
  -webkit-animation: letter9 15s ease-out;
     -moz-animation: letter9 15s ease-out;
       -o-animation: letter9 15s ease-out;
          animation: letter9 15s ease-out;
}
/* Tenth Character (E) */
#header h1 > *.nth-child-10 {
  margin: 0 7px;
  width: 64px;
  background-position: -216px 0px;
  -webkit-transform: translateX(38px);
     -moz-transform: translateX(38px);
       -o-transform: translateX(38px);
          transform: translateX(38px);
  -webkit-animation: letter10 15s ease-out;
     -moz-animation: letter10 15s ease-out;
       -o-animation: letter10 15s ease-out;
          animation: letter10 15s ease-out;
}
/* Eleventh Character (N) */
#header h1 > *.nth-child-11 {
  margin: 0 7px;
  width: 79px;
  background-position: -426px 0px;
  -webkit-transform: translateX(46px);
     -moz-transform: translateX(46px);
       -o-transform: translateX(46px);
          transform: translateX(46px);
  -webkit-animation: letter11 15s ease-out;
     -moz-animation: letter11 15s ease-out;
       -o-animation: letter11 15s ease-out;
          animation: letter11 15s ease-out;
}

// Letter 1
@-webkit-keyframes letter1 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(374px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-37px);}
}
@-moz-keyframes letter1 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(374px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter1 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(374px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter1 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(374px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(-37px);}
}

// Letter 2
@-webkit-keyframes letter2 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(310px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-31px);}
}
@-moz-keyframes letter2 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(310px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter2 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(310px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter2 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(310px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(-31px);}
}

// Letter 3
@-webkit-keyframes letter3 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(217px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-21px);}
}
@-moz-keyframes letter3 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(217px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter3 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(217px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter3 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(217px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(-21px);}
}

// Letter 4
@-webkit-keyframes letter4 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(174px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-17px);}
}
@-moz-keyframes letter4 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(174px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter4 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(174px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter4 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(174px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(-17px);}
}

// Letter 5
@-webkit-keyframes letter5 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(101px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-10px);}
}
@-moz-keyframes letter5 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(101px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter5 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(101px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter5 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(101px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(-10px);}
}

// Letter 6
@-webkit-keyframes letter6 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-16px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(2px);}
}
@-moz-keyframes letter6 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-16px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter6 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-16px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter6 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-16px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(2px);}
}

// Letter 7
@-webkit-keyframes letter7 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-101px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes letter7 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-101px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter7 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-101px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter7 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-101px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(10px);}
}

// Letter 8
@-webkit-keyframes letter8 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-187px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(19px);}
}
@-moz-keyframes letter8 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-187px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter8 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-187px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter8 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-187px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(19px);}
}

// Letter 9
@-webkit-keyframes letter9 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-281px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(28px);}
}
@-moz-keyframes letter9 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-281px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter9 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-281px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter9 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-281px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(28px);}
}

// Letter 10
@-webkit-keyframes letter10 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-375px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(38px);}
}
@-moz-keyframes letter10 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-375px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter10 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-375px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter10 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-375px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(38px);}
}

// Letter 11
@-webkit-keyframes letter11 {
  0%   {opacity: 0; filter: alpha(opacity=0);-webkit-transform: translateX(-461px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(46px);}
}
@-moz-keyframes letter11 {
  0%   {opacity: 0; filter: alpha(opacity=0);-moz-transform: translateX(-461px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-moz-transform: translateX(0);}
  100% {-moz-transform: translateX(0);}
}
@-o-keyframes letter11 {
  0%   {opacity: 0; filter: alpha(opacity=0);-o-transform: translateX(-461px);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {-o-transform: translateX(0);}
  100% {-o-transform: translateX(0);}
}
@keyframes letter11 {
  0%   {opacity: 0; filter: alpha(opacity=0);transform: translateX(-461px) scale(.95);}
  2%   {opacity: 0; filter: alpha(opacity=0);}
  15%  {opacity: 1; filter: alpha(opacity=100);}
  25%  {transform: translateX(0) scale(1);}
  100% {transform: translateX(46px);}
}
