@charset "UTF-8";

// Browser Reset
html, body,
h1, h2, h3, h4, h5, h6, p,
.section, ul {
  margin: 0;
  padding: 0;
}

// General Styles
html, body {
  position: relative;
  background-color: #111;
}
.inactive {
  opacity: .5;
  pointer-events: none;
}

// Custom Typefaces
@font-face {
  font-style: italic;
  font-family: "Filosita";
  src: local("Filosita"),
       url('/typefaces/filosofia.eot?#iefix') format('embedded-opentype'),
       url('/typefaces/filosofia.woff') format('woff'),
       url('/typefaces/filosofia.ttf') format('truetype'),
       url('/typefaces/filosofia.svg#svgFontName') format('svg');
}

// Custom Typefaces
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque"),
       url('/typefaces/brandon-grotesk.eot?#iefix') format('embedded-opentype'),
       url('/typefaces/brandon-grotesk.woff') format('woff'),
       url('/typefaces/brandon-grotesk.ttf') format('truetype'),
       url('/typefaces/brandon-grotesk.svg#svgFontName') format('svg');
}

html {
  body {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-transform: none;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 17px;
    font-family: "Filosita", serif;
    line-height: 21px;
    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
           -o-font-smoothing: antialiased;
              font-smoothing: antialiased;
    }
    h1 {
      word-spacing: 16px;
      letter-spacing: 8px;
      font-size: 48px;
      line-height: 72px;
      i {
        // display: inline-block;
        // margin-top: 80px;
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-family: "Filosita", serif;
        -webkit-font-smoothing: subpixel-antialiased;
           -moz-font-smoothing: subpixel-antialiased;
             -o-font-smoothing: subpixel-antialiased;
                font-smoothing: subpixel-antialiased;
      }
    }
    h2 {
      word-spacing: 12px;
      letter-spacing: 5px;
      font-size: 34px;
      line-height: 51px;
    }
    p {
      margin: 20px 0;
      width: 440px;
    }
    i, b, strong, em {
      font-weight: normal;
      font-style: italic;
    }
    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      color: #111;
      text-decoration: none;
      -webkit-transition-duration: 0.15s;
         -moz-transition-duration: 0.15s;
           -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
      -webkit-transition-property: border-bottom-color;
         -moz-transition-property: border-bottom-color;
           -o-transition-property: border-bottom-color;
              transition-property: border-bottom-color;
    }
    a:hover,
    a:active,
    a.active,
    a:focus {
      border-bottom-color: #111;
      cursor: pointer;
    }
  }
}

.spinner {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000110;
  h6 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -30px;
    width: 60px;
    height: 60px;
    background-image: url(../media/graphic-spinner.gif);
    background-position: center;
    background-size: 60px 60px !important;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 0;
  }
}

.section {
  position: relative;
  display: block;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  background-color: #fff;
  // Add native style momentum to scrolling.
  -webkit-overflow-scrolling: touch;
}

.parallax {
  > * {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: auto;
    }
  }
  h1 {
    left: 0 !important;
    z-index: 2;
    width: 100%;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
  }
  img {
    padding: 0;
    height: auto;
  }
}

// Images with width based on class.
.w18  {width:  18%;} //  518px on 15" Retina.
.w21  {width:  21%;} //  605px on 15" Retina.
.w23  {width:  23%;} //  662px on 15" Retina.
.w25  {width:  25%;} //  720px on 15" Retina.
.w28  {width:  28%;} //  807px on 15" Retina.
.w31  {width:  31%;} //  893px on 15" Retina.
.w34  {width:  34%;} //  980px on 15" Retina.
.w36  {width:  36%;} // 1037px on 15" Retina.
.w40  {width:  40%;} // 1152px on 15" Retina.
.w42  {width:  42%;} // 1210px on 15" Retina.
.w49  {width:  49%;} // 1412px on 15" Retina.
.w50  {width:  50%;} // 1440px on 15" Retina.
.w62  {width:  62%;} // 1785px on 15" Retina.
.w68  {width:  68%;} // 1958px on 15" Retina.
.w80  {width:  80%;} // 2304px on 15" Retina.
.full {width: 100%;} // 2880px on 15" Retina.

// Images with position based on class.
.full {left:  0% !important;}
.l2   {left:  2% !important;}
.l6   {left:  6% !important;}
.l11  {left: 11% !important;}
.l14  {left: 14% !important;}
.l17  {left: 17% !important;}
.l24  {left: 24% !important;}
.l25  {left: 25% !important;}
.l26  {left: 26% !important;}
.l28  {left: 28% !important;}
.l31  {left: 31% !important;}
.l36  {left: 36% !important;}
.l38  {left: 38% !important;}
.l40  {left: 40% !important;}
.l44  {left: 44% !important;}
.l47  {left: 47% !important;}
.l50  {left: 50% !important;}
.l52  {left: 52% !important;}
.l54  {left: 54% !important;}
.l57  {left: 57% !important;}
.l61  {left: 61% !important;}
.l66  {left: 66% !important;}
.l74  {left: 74% !important;}
.l79  {left: 79% !important;}
