@charset "UTF-8";

// Browser Reset
html, body,
h1, h2, h3, h4, h5, h6, p,
.section, ul {
  margin: 0;
  padding: 0;
}

// General Styles
html,
body {
  min-height: 100%;
  min-width: 100%;
}

// Custom Typefaces
@font-face {
  font-style: italic;
  font-family: "Filosofia";
  src: url(/typefaces/filosofia.eot);
  src: local("Filosofia"),
       url(/typefaces/filosofia.eot?#iefix) format("embedded-opentype"),
       url(/typefaces/filosofia.woff) format("woff"),
       url(/typefaces/filosofia.ttf) format("truetype"),
       url(/typefaces/filosofia.svg#svgFontName) format("svg");
}

// Custom Typefaces
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Brandon Grotesque";
  src: url(/typefaces/brandon-grotesque.eot);
  src: local("Brandon Grotesque"),
       url(/typefaces/brandon-grotesque.eot?#iefix) format("embedded-opentype"),
       url(/typefaces/brandon-grotesque.woff) format("woff"),
       url(/typefaces/brandon-grotesque.ttf) format("truetype"),
       url(/typefaces/brandon-grotesque.svg#svgFontName) format("svg");
}

html {
  body {
    top: 0;
    left: 0;
    margin: 0;
    text-transform: none;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 17px;
    font-family: "Filosofia", serif;
    line-height: 21px;
    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
           -o-font-smoothing: antialiased;
              font-smoothing: antialiased;
    }
    h1 {
      word-spacing: 16px;
      letter-spacing: 8px;
      font-size: 48px;
      line-height: 72px;
      i {
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-family: "Filosofia", serif;
        -webkit-font-smoothing: subpixel-antialiased;
           -moz-font-smoothing: subpixel-antialiased;
             -o-font-smoothing: subpixel-antialiased;
                font-smoothing: subpixel-antialiased;
      }
    }
    h2 {
      word-spacing: 12px;
      letter-spacing: 5px;
      font-size: 34px;
      line-height: 51px;
    }
    p {
      margin: 20px 0;
      width: 440px;
    }
    i, b, strong, em {
      font-weight: normal;
      font-style: italic;
    }
    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: rgba(255,255,255,0);
      color: #111;
      text-decoration: none;
      -webkit-transition-duration: 0.15s;
         -moz-transition-duration: 0.15s;
           -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
      -webkit-transition-property: border-bottom-color;
         -moz-transition-property: border-bottom-color;
           -o-transition-property: border-bottom-color;
              transition-property: border-bottom-color;
    }
    a:hover,
    a:active,
    a.active,
    a:focus {
      border-bottom-color: #111;
      cursor: pointer;
    }
  }
}

.spinner {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000110;
  h6 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background-image: url(../media/graphic-spinner.gif);
    background-position: center;
    background-size: 32px 32px !important;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0);
    font-size: 0;
  }
}
