/* Navigation */

#nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 200px;
  background-image: url(/media/px-transparent.png);
  background-repeat: repeat;
  font-weight: 900;
  display: block;
  #symbol {
    position: absolute;
    top: 25px;
    left: 40px;
    display: inline;
    padding-bottom: 6px;
    width: 75px;
    height: 150px;
    background: url(/media/graphic-sprite-logotype.png) 0px 0px no-repeat;
    background-size: 772px 150px !important;
    color: rgba(255,255,255,0);
    font-size: 0;
  }
  #symbol:hover {
    border-bottom: 0 solid #FFF;
    border-bottom: 2px solid rgba(255,255,255,0);
  }
  a,
  a:link,
  a:visited,
  a:active,
  span {
    border-bottom: 0 solid #FFF;
    border-bottom: 2px solid rgba(255,255,255,0);
    color: #FFF;
  }
  a:hover,
  span.current {
    border-bottom: 2px solid #FFF;
    cursor: pointer;
  }
  ul {
    position: absolute;
    top: 157px;
    right: 40px;
    li {
      display: inline;
      margin-left: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-style: normal;
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      a i,
      span i {
        text-transform: lowercase;
        letter-spacing: 1px;
        font-style: italic;
        font-family: "Filosofia", serif;
      }
    }
  }
}

#nav.hidden {
  background: url(/media/px-transparent.png);
  opacity: 0;
  filter: alpha(opacity=0);
  #symbol,
  ul {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

#nav.top,
#nav.hidden:hover {
  background-image: url(/media/px-overlay.png);
  background-repeat: repeat;
  opacity: 1;
  filter: alpha(opacity=100);
}

body.collection,
body.stores {
  #nav.top,
  #nav.top:hover,
  #nav.top.hidden:hover {
    background-image: url(/media/px-transparent.png);
    background-repeat: repeat;
    opacity: 1;
    filter: alpha(opacity=100);
    #symbol,
    ul {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}

#nav {
  -webkit-transition-duration: .35s;
     -moz-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: background, opacity;
     -moz-transition-property: background, opacity;
       -o-transition-property: background, opacity;
          transition-property: background, opacity;
  ul {
    -webkit-transition-duration: .35s;
       -moz-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
  }
  a,
  span {
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: border-bottom-color;
       -moz-transition-property: border-bottom-color;
         -o-transition-property: border-bottom-color;
            transition-property: border-bottom-color;
  }
  ul,
  li {
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
  }
}


body.mobile {
  #nav,
  #nav.top,
  #nav.top.hidden,
  #nav.hidden {
    position: absolute;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
