body.news {
  position: relative;
  padding-top: 200px;
  > div {
    float: left;
    margin-bottom: 160px;
    width: 100%;
  }
  .text {
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    width: 25%;
    text-align: center;
    > * {
      width: 100%;
    }
  }
  .images {
    float: right;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 65%;
    .col {
      float: left;
      width: 33.3%;
      border-top: 3px solid #fff;
      img {
        width: 99%;
        border-bottom: 3px solid #fff;
      }
    }
    .col:last-child {
      float: right;
      img {
        width: 100%;
      }
    }
    img {
      float: left;
      width: 100%;
      height: auto;
    }
  }
}
.article {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 5px;
    }
  }
}
.article.sticky {
  .text {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.graphic {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-bottom-color: rgba(255,255,255,0);
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(255,255,255,0);
  font-size: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity !important;
     -moz-transition-property: opacity !important;
       -o-transition-property: opacity !important;
          transition-property: opacity !important;
}
.graphic:hover,
.graphic:active,
.graphic:focus {
  border-bottom-color: rgba(255,255,255,0);
  opacity: 1;
  filter: alpha(opacity=30);
}

.graphic.tw {
  background-image: url(../media/graphic-icon-twitter.png);
  background-size: 50px !important;
}
.graphic.fb {
  background-image: url(../media/graphic-icon-facebook.png);
  background-size: 50px !important;
}
