/* Average screen size */

@media only screen and (max-width: 1125px) {

  #header {
    zoom: 65%;
  }

}

/* Small-sized screens */

@media only screen and (max-width: 750px) {


  #nav {
    zoom: 50%;
    ul {
      top: 25px;
      li {
        display: block;
        margin-bottom: 20px;
        height: 20px;
        text-align: right;
      }
    }
  }

  #header {
    zoom: 40%;
  }

  .section > * {
    zoom: 50%;
    p {
      margin-top: -200px;
      line-height: 20px;
      // zoom: 200%;
    }
    h1 {
      margin-top: -80px;
    }
  }

  body.heritage .section > :nth-child(14) > :nth-child(2) {
    margin-top: -300px;
  }

  body.collections > *:first-child img,
  body.stores > *:first-child img {
    width: 200%;
  }

  body.index .section > * {
    zoom: 100%;
  }
  body.index #header {
    zoom: 40%;
  }

}

/* Phone-sized screens */

@media only screen and (max-width: 375px) {

  body.home #header {
    zoom: 25%;
  }

}

@media only screen and (max-width: 750px) and (orientation: landscape) {

  #header {
    top: 66%;
  }
}


// Mobile specific.

body.mobile {

  #nav {
    background-color: rgba(0,0,0,.65);
    #symbol,
    ul {
      opacity: 1;
    }
  }

  .spinner h6 {
    background-size: 40px 40px !important;
  }

  body.news {
    .text {
      width: 90%;
    }
    .images {
      width: 100%;
    }
  }

}


// Desktop specific.

body.desktop {

}


