/* Average screen size */
@media only screen and (max-width: 1125px) {
  #header {
    zoom: 0.65;
    -moz-transform: scale(0.65);
  }
  body.parallax.portrait {
    .screen {
      // padding: 0 0 -150px 0;
    }
  }
  body.parallax.landscape {
    .screen {
      margin: 0 0 200px 0;
    }
  }
  body.mobile {
    .padded {
      padding: 0 10% 10%;
    }
  }
}

/* Small-sized screens */
@media only screen and (max-width: 750px) {
  #nav {
    ul {
      top: 37px;
      li {
        display: block;
        margin-bottom: 20px;
        height: 20px;
        text-align: right;
      }
    }
  }
  #header {
    zoom: 0.35;
    -moz-transform: scale(0.35);
  }
  body.landscape {
    #nav {
      zoom: 0.55;
      -moz-transform: scale(0.55);
    }
    #header {
      zoom: 0.25;
      -moz-transform: scale(0.25);
      top: 70%;
    }
  }
}

/* Phone-sized screens */
@media (max-width: 575px) {
  #nav {
    zoom: 0.65;
    -moz-transform: scale(0.65);
  }
  #header {
    zoom: 0.25;
    -moz-transform: scale(0.25);
  }
  body.parallax,
  body.parallax.portrait,
  body.parallax.landscape {
    width: 100%;
    position: static;
    .screen,
    .screen > * {
      position: static;
      float: left;
      clear: both;
      height: auto;
    }
    .screen {
      margin: 0;
    }
    .screen > * {
      width: 90%;
      margin: 3% 5%;
    }
    .screen > h1,
    .screen > h2 {
      color: #000;
      font-size: 30px;
      line-height: 36px;
      width: 90%;
      margin: 140px 5% 70px 5%;
      word-spacing: 0px;
    }
    .screen > h2 {
      margin: 30px 5% 15px 5%;
    }
    .screen img.full {
      width: 100%;
      margin: 3% 0;
    }
    .screen.cover {
      height: 400px;
      margin-bottom: 5%;
      h1 {
        color: #FFF;
        position: absolute;
        top: 0;
      }
      img {
        margin-top: 0;
        height: 100%;
      }
    }
    .screen img.full.padded {
      width: 80%;
      padding: 0 10%;
    }
  }
}

// Retina Screens
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #symbol {
    background: url(../media/graphic-sprite-logotype-hires.png) 0px 0px no-repeat;
  }
  #header h1 > * {
    background-image: url(../media/graphic-sprite-logotype-hires.png);
  }
  .spinner h6 {
    background-image: url(../media/graphic-spinner-hires.gif);
  }
}
