<div id="nav" class="top">
  <a href="/" id="symbol">Home</a>
  <ul>
    <li>
      <a href="/collections/">Collections</a>
    </li>
    <li>
      <a href="/heritage/"><i>Our</i> Heritage</a>
    </li>
    <li>
      <a href="/news/">News</a>
    </li>
    <li>
      <a href="/stores/"><i>Our</i> Stores</a>
    </li>
  </ul>
</div>
