---
title: Stores &nbsp;&bull;&nbsp; Kent &amp; Curwen
layout: stores
---
<div id="nav" class="top hidden">
      <a href="/" id="symbol">Home</a>
      <ul>
        <li>
          <a href="/collections/">Collections</a>
        </li>
        <li>
          <a href="/heritage/"><i>Our</i> Heritage</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
        <li>
          <span class="current"><i>Our</i> Stores</span>
        </li>
      </ul>
    </div>

    <div class="screen cover">
      <h1><i>our</i> Stores</h1>
      <img class="full" width="1440" height="960"
        src="http://media.a.kentandcurwen.co.uk/1x/kent-and-curwen-stores-cover.jpg"
        alt="Kent &amp; Curwen Stores Cover Image">
    </div>

    <ul class="expandable-menus">
      <li>
        <h3>China</h3>
        <ul>
          <li>
            <h4>Northern China</h4>
            <ul class="addresses">
              <li>
                <ul>
                  <li>
                    <h5>DALIAN, CHINA</h5>
                    <ul>
                      <li><i>Friendship Shopping Centre</i><br>NO.8 RENMING STREET<br>ZHONGSHAN DISTRICT, DALIAN<br>0411 82593327</li>
                    </ul>
                  </li>
                  <li>
                    <h5>DANDONG, CHINA</h5>
                    <ul>
                      <li><i>La Cite Department Store</i><br>NO.36 QIWEI STREET,<br>ZHENXING DISTRICT, DANDONG<br>0415-2215202</li>
                    </ul>
                  </li>
                  <li>
                    <h5>TIANJIN, CHINA</h5>
                    <ul>
                      <li><i>Tianjin Department Store</i><br>NO 172 HEPING STREET<br>HEPING DISTRICT, TIANJIN<br>022 27183828</li>
                      <li><i>Hisence Plaza</i><br>NO 188 JIEFANG NORTH STREET<br>HEPING DISTRICT, TIANJIN<br>022 23198205</li>
                      <li><i>Jin Yuan Bao Intl</i><br>1/F G-YUANBAO BINHAI INTERNATIONAL<br>SHOPPING CENTER NO.19 HUANGHAI ROAD,<br>DEVELOP AREA, TIANJIN<br>022 25635502</li>
                    </ul>
                  </li>
                  <li>
                    <h5>TAIYUAN, CHINA</h5>
                    <ul>
                      <li><i>Tianmei Ming Dian</i><br>NO 39 XINJIAN STREET, TAIYUAN<br>022 25635502</li>
                      <li><i>Tianmei Shopping Centre</i><br>NO 113 CHANGFENG STREET, <br>TAIYUAN<br>0351 8376227</li>
                    </ul>
                  </li>
                  <li>
                    <h5>BAOTOU, CHINA</h5>
                    <ul>
                      <li><i>Baotou Victory Mall</i><br>NO 30 GANGTIE STREET<br>KUNDULUN DISTRICT,<br>BAOTOU<br>0472 2372093</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>BEIJING, CHINA</h5>
                    <ul>
                      <li><i>Outlets Department Store</i><br>9 DONG FOUR HUAN SOUTH ROAD<br>CHANYANG DISTRICT<br>010 87386628</li>
                      <li><i>Oriental Plaza</i><br>AA22, ORIENTAL PLAZA,<br>NO 1 EAST CHANG AN STREET, BEIJING<br>010 85182899</li>
                      <li><i>City Mall</i><br>L112 CITY MALL, XINYUAN NORTH,<br>CHAOYANG DISTRICT, BEIJING<br>010 84442292</li>
                      <li><i>Beijing Cuiwei Tower</i><br>L106B BEIJING CUIWEI TOWER,<br>NO.29 FUXING STREET<br>HAIDIAN DISTRICT, BEIJING<br>010 88239117</li>
                      <li><i>Junefield Sogo Dept Store</i><br>NO.8 XUANWAI STREET,<br>XUANWU DISTRICT, BEIJING<br>010 63105958</li>
                      <li><i>Surprise Outlets</i><br>LL13 THE PALACE HOTEL CO.LTD,<br>NO.8 GOLDFISH LANE, <br>DONGCHENG DISTRICT, BEIJING<br>010 84399608</li>
                    </ul>
                  </li>
                  <li>
                    <h5>SHIJIAZHUANG, CHINA</h5>
                    <ul>
                      <li><i>Future Mall</i><br>NO 326 ZHONGSHAN EAST STREET,<br>SHIJIAZHUANG<br>0311 85936158</li>
                    </ul>
                  </li>
                  <li>
                    <h5>JILIN, CHINA</h5>
                    <ul>
                      <li><i>Royal Nobleman Shopping Plaza</i><br>NO 65 JIEFANG STREET<br>CHUANYING DISTRICT, JILIN<br>0432 62264600</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HUHHOT, CHINA</h5>
                    <ul>
                      <li><i>Victory Plaza</i><br>NO 8 XINHUA STREET NEW CITY,<br>HUHHOT<br>0471 2823811</li>
                    </ul>
                  </li>
                  <li>
                    <h5>CHANGCHUN, CHINA</h5>
                    <ul>
                      <li><i>Ouya Commercial Capital</i><br>1/F, OUYA COMMERCIAL CAPITAL,<br>NO 1128, GONGNONGDA ROAD,<br>CHANGCHUN<br>0431 89184066</li>
                    </ul>
                  </li>
                  <li>
                    <h5>QINGDAO, CHINA</h5>
                    <ul>
                      <li><i>Sunshine Dept Store</i><br>NO 38 HONG KONG CENTRAL STREET,<br>QINGDAO<br>0532 86677175</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>HARBIN,CHINA</h5>
                    <ul>
                      <li><i>Songlei Dept Store</i><br>NO 329 DONGDAZHI STREET<br>NANGANG, HAERBIN<br>0451 87531926</li>
                      <li><i>Van's Dept Store</i><br>NO 68 GANSHUI STREET<br>XIANGFANG DISTRICT, HAERBIN<br>0451 87717376 </li>
                    </ul>
                  </li>
                  <li>
                    <h5>TANGSHAN, CHINA</h5>
                    <ul>
                      <li><i>Tangshan Deptartment Store Group</i><br>NO 22 NORTH NEW WEST STREET,<br>TANGSHAN<br>0315 2250895</li>
                    </ul>
                  </li>
                  <li>
                    <h5>ORDOS, CHINA</h5>
                    <ul>
                      <li><i>Ordos Huayan Shopping Centre</i><br>NO 2 DALATE SOUTH STREET,<br>OREOS<br>0477 8337395</li>
                    </ul>
                  </li>
                  <li>
                    <h5>JINAN, CHINA</h5>
                    <ul>
                      <li><i>Gui He Plaza</i><br>NO 1 TIANTAN STREET,<br>JINAN<br>0531 82380631</li>
                      <li><i>Van's Dept Store</i><br>NO.5 JINGSI STREET<br>CENTRAL DISTRICT, JINAN<br>0531 67618680</li>
                      <li><i>Jinan Hang Lung Plaza 66</i><br>NO 188 QUANCHENG STREET,<br>JINAN<br>0531 88921926</li>
                    </ul>
                  </li>
                  <li>
                    <h5>SHENYANG, CHINA</h5>
                    <ul>
                      <li><i>Maoye Dept Store</i><br>NO 185 YOUNG STREET<br>SHENHE DISTRICT, SHENYANG<br>024-31091768</li>
                      <li><i>Shenyang Zhongxing Commercial</i><br>NO.89 NORTH TAIYUAN STREET,<br>SHENYANG<br>024 23401886</li>
                    </ul>
                  </li>
                  <li>
                    <h5>YANTAI, CHINA</h5>
                    <ul>
                      <li><i>Guihe Baihong Aristocratic Store</i><br>NO 248 SHENGLI STREET<br>ZHIFU DISTRICT, YANTAI<br>0535 6862846</li>
                    </ul>
                  </li>
                  <li>
                    <h5>BAODING, CHINA</h5>
                    <ul>
                      <li><i>Baoding Future Mall</i><br>NO 799 CHAOYANG NORTH STREET,<br>BAODING<br>0312 5883571</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HANDAN, CHINA</h5>
                    <ul>
                      <li><i>Handan New Century</i><br>NO. 29 ZHONGHUA STREET,<br>HANDAN<br>0310-2038022</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4>Eastern China</h4>
            <ul class="addresses">
              <li>
                <ul>
                  <li>
                    <h5>SHANGHAI, CHINA</h5>
                    <ul>
                      <li><i>Hongqiao Friendship Shopping Centre</i><br>2/F, HONGQIAO FRIENDSHIP SHOPPING CENTER,<br>NO. 6, SOUTH ZUNYI ROAD, SHANGHAI<br>021 6275 6971</li>
                      <li><i>Orient  Shopping Centre</i><br>3/F, ORIENT SHOPPING CENTRE,<br>NO 8, NORTH CAOXI ROAD, SHANGHAI<br>021 6468 8510</li>
                      <li><i>No. 1 Yaohan Department Store</i><br>1/F, NO.1 YAOHAN DEPT STORE,<br>NO.1111, NORTH PUDONG ROAD, SHANGHAI<br>021 5836 4384</li>
                      <li><i>Ongoing Department Store</i><br>1/F, ONGOING DEPT STORE,<br>NO.1618, WEST NANJING ROAD<br>021 6288 2671</li>
                      <li><i>Outlets<br>SHOP 127, ZONE A,</i><br>NO.2888 HUQINGPING ROAD, QINGPU, SHANGHAI<br>021 5975 6256</li>
                      <li><i>South Friendship Shopping Centre</i><br>SHOP 209-210, 2/F, SOUTH FRIENDSHIP SHOPPING CENTER,<br>NO.7388, HUMINGROAD, SHANGHAI<br>021 3453 2191</li>
                    </ul>
                  </li>
                  <li>
                    <h5>SHANGYU, CHINA</h5>
                    <ul>
                      <li><i>Datong Emporium</i><br>SHOP 20, 1/F, DATONG EMPORIUM,<br>NO. 689, SHIMIN AVENUE, SHANGYU, ZHEJIANG<br>0575 8122 8897</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HEFEI, CHINA</h5>
                    <ul>
                      <li><i>Van's Department Store</i><br>1/F, VAN’S DEPT.STORE,<br>NO. 130, MAANSHAN ROAD, HEFEI<br>0551 289 1532</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HANGZHOU, CHINA</h5>
                    <ul>
                      <li><i>Mixc City Mall</i><br>SHOP 257, 2/F, MIXC MALL,<br>NO. 701 FUCHUN ROAD, HANGZHOU<br>0571 89705662</li>
                      <li><i>Outlet</i><br>SHOP A121, 1/F, OUTLETS<br>NO. 199, QICHAO ROAD, HANGHZHOU<br>0571 86923091</li>
                      <li><i>Hangzhou Tower</i><br>3F, BLOCK B,HANGZHOU TOWER,<br>NO.1 WULIN PLAZA, HANGZHOU<br>0571 85157873</li>
                    </ul>
                  </li>
                  <li>
                    <h5>WUHAN, CHINA</h5>
                    <ul>
                      <li><i>New World Department Store</i><br>1/F, WUCHANG - NEW WORLD DEPT STORE,<br>NO. 20 LUOYU ROAD, WUHAN, HUBEI<br>027 5179 9113</li>
                      <li><i>International Plaza Shopping Centre</i><br>C1-24, 1/F,WUHAN PLAZA,<br>NO 690, JIEFANG AVENUE, WUHAN, HUBEI<br>027 85516355</li>
                      <li><i>Wuhan Outlets</i><br>NO 177-178,WUHAN OUTLET,<br>NO.51 PANLONG AVENUE, HUBEI<br>027 61195771</li>
                      <li><i>New World Department Store</i><br>1/F, GUOMAO - NEW WORLD DEPT STORE,<br>NO.566 JIANSHE AVENUE,WUHAN ,HUBEI<br>027 8555 7825</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>JINHUA, CHINA</h5>
                    <ul>
                      <li><i>Jinhua Fashion Store</i><br>1/F, JINHUA FASHION STORE,<br>NO159 XISHI AVENUE, JINHUA<br>0579 823 19758</li>
                    </ul>
                  </li>
                  <li>
                    <h5>CHANGSHA, CHINA</h5>
                    <ul>
                      <li><i>Friendship</i><br>A19,1/F, FRIENDSHIP DEPT STORE,<br>NO 368, WUYI AVENUE, CHANGSHA<br>0731 82281225</li>
                      <li><i>Maison Mode</i><br>2/F, MAISON MODE,<br>NO.478, MIDDLE FURONG ROAD, CHANGSHA<br>0731 85780689</li>
                    </ul>
                  </li>
                  <li>
                    <h5>NANJING, CHINA</h5>
                    <ul>
                      <li><i>Deji Plaza</i><br>SHOP 227, 2/F, DEJI PLAZA,<br>NO. 18, ZHONGSHAN ROAD, NANJING<br>025 8476 4637</li>
                      <li><i>Nanjing Int'l Centre</i><br>SHOP 117, 1/F, NANJING INTERNATIONAL CENTER,<br>NO. 201 ZHONGYANG ROAD, NANJING<br>025 87785016</li>
                      <li><i>Nanjing Central Department Store</i><br>SHOP 1FL-3, NANJING CENTRAL DEPT STORE,<br>NO.79, NORTH ZHONGSHAN ROAD, NANJING<br>025 84765540</li>
                    </ul>
                  </li>
                  <li>
                    <h5>NANCHANG, CHINA</h5>
                    <ul>
                      <li><i>Fortune Shopping Plaza</i><br>1/F, FORTUNE SHOPPING PLAZA,<br>NO. 357, BAYI AVENUE, NANCHANG, JIANGXI<br>0791 6311232</li>
                    </ul>
                  </li>
                  <li>
                    <h5>CHANGZHOU, CHINA</h5>
                    <ul>
                      <li><i>Time Fortune</i><br>1/F, TIME FORTUNE,<br>NO. 95-97, WEST YANLING ROAD, CHANGZHOU<br>0519 86678350</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HUZHOU, CHINA</h5>
                    <ul>
                      <li><i>Zhebei Mansion Shopping Centre</i><br>1/F, ZHEBEI MANSION SHOPPING CENTER,<br>NO. 158, GUANFENG ROAD, HUZHOU, ZHEJIANG<br>0572 2218580</li>
                    </ul>
                  </li>
                  <li>
                    <h5>WUXI, CHINA</h5>
                    <ul>
                      <li><i>Grand Orient Dept Store</i><br>SHOP 120, 1/F, WUXI-COMMERICAL MASION,<br>NO. 343 ZHONGSHAN ROAD, WUXI<br>0510 82720939</li>
                    </ul>
                  </li>
                  <li>
                    <h5>YANGZHOU, CHINA</h5>
                    <ul>
                      <li><i>Golden Eagle Int'l Shopping Centre</i><br>1/F, GOLDEN EAGLE (YANGZHOU) INTERNATIONAL SHOPPING CENTER,<br>NO. 120, SOUTH WENHEN ROAD, YANGZHOU<br>0514 8733 8221</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>NINGBO, CHINA</h5>
                    <ul>
                      <li><i>Shanjing Outlet Plaza Ningbo</i><br>SHOP 17800-17900, 1/F, SHANJING OUTLET PLAZA,<br>NO. 555 QIUSHI ROAD, NINGBO<br>0574 89015360</li>
                      <li><i>New World</i><br>SHOP 24-25 1F,<br>NO. 137 EAST ZHONGSHAN ROAD, NINGBO<br>0574 8773 2678</li>
                    </ul>
                  </li>
                  <li>
                    <h5>ZHENGZHOU, CHINA</h5>
                    <ul>
                      <li><i>Zendao Garden Shopping Dept</i><br>4 HALL (EAST), 1/F,<br>NO.8, GARDEN ROAD, ZHENGZHOU<br>0371 65997620</li>
                    </ul>
                  </li>
                  <li>
                    <h5>SUZHOU, CHINA</h5>
                    <ul>
                      <li><i>SOGO Department Store</i><br>SHOP 1B-M12, 1/F, SOGO DEPT STORE,<br>NO.268, WANGDUN ROAD, SUZHOU<br>0512 6696 1021</li>
                      <li><i>Matro Shopping Mall</i><br>SHOP 125, 1/F(EAST),<br>NO 245, GUANQIAN AVENUE, SUZHOU<br>0512 65159707</li>
                    </ul>
                  </li>
                  <li>
                    <h5>YICHANG, CHINA</h5>
                    <ul>
                      <li><i>Yichang International Trade Shopping Mall</i><br>SHOP 1/F C-01, YICHANG INTL TRADE TOWER,<br>NO 106, DONGSHAN AVENUE, YICHANG, HUBEI<br>0717 645 1875</li>
                    </ul>
                  </li>
                  <li>
                    <h5>TAIZHOU, CHINA</h5>
                    <ul>
                      <li><i>Taizhou Deco Place</i><br>SHOP 1F B-109, 1/F, TAIZHOU DECO PLACE,<br>NO 130 XILUQIAO AVENUE, TAIZHOU, ZHEJIANG<br>0576 80290037</li>
                    </ul>
                  </li>
                  <li>
                    <h5>ZHOUSHAN, CHINA</h5>
                    <ul>
                      <li><i>Zhoushan Kaihong Plaza</i><br>SHOP 1/F-B-3,<br>NO.288, XINGPU AVENUE, ZHOUSHAN<br>0580 3819608</li>
                    </ul>
                  </li>
                  <li>
                    <h5>NANTONG, CHINA</h5>
                    <ul>
                      <li><i>Nantong Yaohan Department Store</i><br>SHOP10018, 1/F, <br>NO.47, MIDDLE RENMING ROAD, NANTONG<br>0513 8512 1797</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4>Southern China</h4>
            <ul class="addresses">
              <li>
                <ul>
                  <li>
                    <h5>NANNING, CHINA</h5>
                    <ul>
                      <li><i>Friendship Department Store</i><br>1/F, 59 JIN HU ROAD,<br>QINGXIU DISTRICT, NANNING<br>0771 5680250</li>
                      <li><i>Nanning One World Plaza</i><br>105, 1/F, NO. 49-2 MINZU AVENUE<br>0771 2813986</li>
                      <li><i>Nanning the Mixcity</i><br>NO.190 FIRST FLOOR,THE MIX CITY,<br>QING XIU DISRICT, NANNING<br>0771-5718880</li>
                    </ul>
                  </li>
                  <li>
                    <h5>SHENZHEN, CHINA</h5>
                    <ul>
                      <li><i>Dreams-on Department Store</i><br>NO. 1096,1/F, FUHUASAN ROAD,<br>RAINBOW DEPT.STORE<br>0755 82879618</li>
                      <li><i>Shenzhen Dameisha Outlet</i><br>NO. 2 HUAIDU RD,<br>YANTIAN DISTRICT<br>0755 25062321</li>
                      <li><i>Mixc City Crossing</i><br>NO. 182, 1/F, 1881 SOUTH BAOAN ROAD,<br>SHENZHEN<br>0755 82690019</li>
                      <li><i>SEIBU Department Store (Futian Branch)</i><br>2/F, NO.2008B, 1095 CITIC PLAZA,<br>CENTRAL SHENNAN ROAD, SHENZHEN<br>0755 25944298</li>
                      <li><i>Yitian Holiday Plaza</i><br>L1-52, NO. 9028-1 SHENNAN AVENUE,<br>NANSHAN DISTRICT<br>0755 86298445</li>
                      <li><i>Maoye Department Store</i><br>1/F, NANSHAN DISTRICT, WENXIN ER STREET,<br>MAOYE SHOPPING CENTER<br>0755 86399736</li>
                      <li><i>Shenzhen KK Mall</i><br>KINGKEY FINANCIAL CENTER,<br>SHENNAN RD. AND HONGLING RD. INTERSECTION<br>0755 22901383</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>HUIZHOU, CHINA</h5>
                    <ul>
                      <li><i>Huizhou China Central Place</i><br>NO.9 WENCHANG YI ROAD,<br>JIANGBEI DISTRICT<br>0752 7190153</li>
                    </ul>
                  </li>
                  <li>
                    <h5>HAINAN, CHINA</h5>
                    <ul>
                      <li><i>Haikou Sea View International Plaza</i><br>NO.8 HAIXIU ROAD,<br>MEILAN DISTRICT<br>0898 66596252</li>
                    </ul>
                  </li>
                  <li>
                    <h5>XIAMEN, CHINA</h5>
                    <ul>
                      <li><i>Xindeco Department Store</i><br>NO 101, 1/F, XIAMEN XINDECO DEPARTMENT STORE,<br>NO.25 XINGLONG ROAD, HULI DISTRICT<br>0592 5608264</li>
                      <li><i>Paragon Plaza</i><br>NO 125, 1/F, 197 JIAHE ROAD,<br>SIMING DISTRICT<br>0592 5150091</li>
                    </ul>
                  </li>
                  <li>
                    <h5>FOSHAN, CHINA</h5>
                    <ul>
                      <li><i>Friendship Foshan Store</i><br>NO.18, CHENGMENTOU ROAD,<br>CHANCHENG DISTRICT<br>0757 82030793</li>
                    </ul>
                  </li>
                  <li>
                    <h5>FUZHOU, CHINA</h5>
                    <ul>
                      <li><i>Orient Shopping Centre (Dongjie)</i><br>1/F, 8 EAST YANGQIAO ROAD<br>0591 87515829</li>
                      <li><i>Oriental Department Store (Qunsheng)</i><br>NO.1109, F1, 760, EAST OF 817 ROAD,<br>TAIJIANG DISTRICT, FUZHOU<br>0591 88601089</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>GUANGZHOU, CHINA</h5>
                    <ul>
                      <li><i>Friendship World Trade Centre Store</i><br>1/F FLOOR, NO.371-375 HUANSHI RD EAST<br>020 87611369</li>
                      <li><i>Friendship Grandview Plaza Store</i><br>2/F, 228 TIANHE ROAD,<br>TIANHE DISTRICT<br>020 85505717</li>
                      <li><i>Friendship IFC Store</i><br>NO.5 ZHUJIANG ROAD WEST,<br>PEARL RIVER NEW CITY<br>020 88832272</li>
                    </ul>
                  </li>
                  <li>
                    <h5>JINJIANG, CHINA</h5>
                    <ul>
                      <li><i>Marco Polo Hotel</i><br>1/F, HONGFU HOTEL, SUNSHINE EAST ROAD, <br>JINJIANG<br>0595 28086339</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h4>Western China</h4>
            <ul class="addresses">
              <li>
                <ul>
                  <li>
                    <h5>CHENGDU, CHINA</h5>
                    <ul>
                      <li><i>Renhe Spring Department Store (Zongbei)</i><br>NO 2 YOUYI ROAD,<br>CHENGDU<br>028 85257790</li>
                      <li><i>Renhe Spring Department Store (Guanghua)</i><br>SHOP A-16,1/F, RENHE SPRING GUANGHUA STORE,<br>NO 19, ERHUANLU XI ER DUAN, CHENGDU<br>028 61500578</li>
                      <li><i>Maison Mode Lessin Department Store</i><br>SHOP 204, 2/F, MAISION MODE LESSIN,<br>NO 56, RENMING NAN LU ER DUAN, CHENGDU<br>028 86200913</li>
                      <li><i>Chengdu Mixc</i><br>1/F, NO 8 SHUANGQING ROAD CHENGHUA DISTRICT,<br>CHENGDU<br>028 83266672</li>
                      <li><i>Walton Premium Outlet</i><br>SHOP S-1105, 1/F, WALTON PREMIUM OUTLETS,<br>NO 633, SHUANGNAN ROAD, SHUANGLIU COUNTY, CHENGDU<br>028 61915321</li>
                      <li><i>Mei Jia Sen Outlets Store</i><br>SHOP D2, MEIJIASEN MALL, NO 1,<br>TIANFU ROAD, CHENGDU<br>028 85330836</li>
                    </ul>
                  </li>
                  <li>
                    <h5>GUIYANG, CHINA</h5>
                    <ul>
                      <li><i>Lavant Department Store (Lixing)</i><br>1/F, LAVANT DEPT STORE,<br>NO.52, ZHONGHUA NANLU, GUIYANG<br>0851 5811357</li>
                      <li><i>Guiyang Modern Capital</i><br>1/F, GUIYANG MODERN CAPITAL,<br>NO.1, YANANZHONGLU, GUIYANG<br>0851 6885349</li>
                    </ul>
                  </li>
                  <li>
                    <h5>KUNMING, CHINA</h5>
                    <ul>
                      <li><i>Kunming Shuncheng Commercial Centre</i><br>SHOP T111, KUNMING SHUNCHENG COMMERCIAL CENTRE,<br>NO.9 DONGFENGXILU,<br>WUHUA DISDISTRICT, KUNMING<br>0871 3634727</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>LANZHOU, CHINA</h5>
                    <ul>
                      <li><i>Ya Ou Department Store</i><br>SHOP A10, 1/F, YA OU STORE,<br>NO.120, ZHONGSHAN ROAD,<br>CHENGGUAN DISTRICT, LANZHOU<br>0931 8460308</li>
                    </ul>
                  </li>
                  <li>
                    <h5>URUMQI, CHINA</h5>
                    <ul>
                      <li><i>Century Ginwa Department Store</i><br>1/F, CENTURY GINWA (HAOTAI),<br>NO.688, YOUHAOBEILU, URUMQI<br>0991 4857061</li>
                    </ul>
                  </li>
                  <li>
                    <h5>XIAN, CHINA</h5>
                    <ul>
                      <li><i>Century Ginwa Department Store (Zhonglou)</i><br>1/F, CENTURY GINWA (ZHONGLOU BRANCH),<br>NO.1, XIDAJIE, XIAN<br>029 87631792</li>
                      <li><i>Century Ginwa Cosun Shopping Centre (Gaoxin)</i><br>NO.33, KEJILU,<br>GAOXIN DISTRICT, XIAN<br>029 62961250</li>
                      <li><i>Zhong Da Int'l Famous Brands Plaza</i><br>SHOP A219, ZHONG DA INT’L FAMOUS BRANDS PLAZA,<br>NO.30, NANDAJIE, XIAN<br>029 87203725</li>
                      <li><i>Century Ginwa Department Store (Saigo)</i><br>1/F, CENTURY GINWA, SHIZIXIANJIAO,<br>FENGCHENGWULU, XIAN<br>029 86215236</li>
                      <li><i>Xian Minsheng Mall</i><br>1/F, MINSHENG MALL,<br>NO.103, JIEFANG ROAD, XIAN<br>029 87482221</li>
                      <li><i>Xian Intime Mall</i><br>1/F FAMOUS BRANDS, INTIME CITY,<br>YANNAN ER LU, QUJIANG XIN QU, XIAN<br>029 89125578</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <h5>CHONGQING, CHINA</h5>
                    <ul>
                      <li><i>Outlet Shopping Plaza</i><br>SHOP A120, WEST OUTLETS,<br>NO.1 HUICHUAN ROAD, CHONGQING<br>023 63206102</li>
                      <li><i>Chongqing Metropolitan Plaza</i><br>SHOP A133A-B, 1/F, METROPLITAN, <br>NO.68, ZOURONG ROAD, YUZHONG DISTRICT, CHONGQING<br>023 63818981</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h3>Hong Kong</h3>
        <ul class="addresses">
          <li><i>Ocean Centre</i><br>SHOP 205-206, LEVEL 2, OCEAN CENTRE,<br>HARBOUR CITY, TSIMSHATSUI, KOWLOON<br>852 2730-7026</li>
          <li><i>Pacific Place</i><br>224 PACIFIC PLACE, PHASE 2,<br>QUEENSWAY, ADMIRALTY, HONG KONG<br>852 2840 0023</li>
          <li><i>SOGO Department Store</i><br>SHOP 509, 5/F SOGO, HENNESSEY ROAD,<br>CAUSEWAY BAY, HONG KONG<br>852 2831 8601</li>
          <li><i>Festival Walk</i><br>LG2- 08 FESTIVAL WALK, 80 TAT CHEE AVENUE,<br>KOWLOON TONG, KOWLOON<br>852 2265 7372</li>
          <li><i>Times Square</i><br>SHOP NO. 221, 2/F FLOOR,<br>TIMES SQUARE, CAUSEWAY BAY, HONG KONG.<br>852 2506 0200</li>
          <li><i>Landmark</i><br>106 LANDMARK ATRIUM,<br>11 PEDDER STREET, CENTRAL, HONG KONG<br>852 2521 8141</li>
          <li><i>SOGO Department Store</i><br>B-106, SOGO, 12 SALISBURY ROAD,<br>TSIMSHATSUI, KOWLOON<br>852 3556 1009</li>
          <li><i>Elements Shopping Mall</i><br>SHOP 2011, SECOND LEVEL ELEMENTS,<br>1 AUSTIN ROAD, KOWLOON<br>852 2317 7616</li>
          <li><i>Peninsula Hotel</i><br>BL6, BASEMENT FLOOR,<br>PENINSULA HOTEL, KOWLOON<br>852 2369 7901</li>
          <li><i>IFC Mall</i><br>SHOP 2030 ON PODIUM LEVEL 2, IFC MALL,<br>8 FINANCE STREET, CENTRAL, HONG KONG<br>852 2234 7373</li>
          <li><i>Hong Kong International Airport</i><br>6W547, DEPARTURE WEST HALL, HONG KONG<br>852 2261 0182<br>(COMING SOON)</li>
          <li><i>Citygate Outlets</i><br>SHOP 235-6, LEVEL 2, CITYGATE OUTLETS,<br>20 TAT TUNG ROAD, TUNG CHUNG, LANTAU<br>852 3188 2636</li>
        </ul>
      </li>
      <li>
        <h3>Japan</h3>
        <ul class="addresses">
          <li><i>Isetan Shinjuku</i><br>SHINJUKU-KU SHINJUKU 3-14-1, 4F<br>03 3352 1111</li>
          <li><i>Tobu Ikebukuro</i><br>TOSHIMA-KU NISHI-IKEBUKURO 1-1-25, 5F<br>03 3981 2211</li>
          <li><i>Odakyu Shinjuku</i><br>SHINJUKU-KU NISHI-SHINJUKU 1-1-3, MAIN 7F<br>03 3342 1111</li>
          <li><i>Okajima</i><br>KOUFU-SHI MARUNOUCHI<br>1-21-15, 4F<br>055 232 2111</li>
          <li><i>Yagihashi</i><br>KUMAGAYA-SHI NAKAMACHI 74, 4F<br>048 526 4455</li>
          <li><i>Takashimaya Takasaki</i><br>GUNMA-KEN TAKASAKI-SHI ASAHIMACH 45, 4F<br>027 327 1111</li>
          <li><i>Niigata Isetan</i><br>NIIGATA-KEN CHUO-KU YACHIYO 1-6-1, 4F<br>025 243 7111</li>
          <li><i>Izutsuya Kurosaki</i><br>KITAKYUSHU-SHI YAHATANISHI-KU KUROSAKI 1-1-1, 5F<br>093 643 5111</li>
          <li><i>Mitsukoshi Nagoya</i><br>NAGOYA-SHI  NAKA-KU SAKAE 3-5-1, 5F<br>052 252 1111</li>
          <li><i>Mitsukoshi Ebisu</i><br>NAGOYA-SHI  NAKA-KU SAKAE 3-5-1, 5F<br>052 252 1111</li>
          <li><i>Mitsukoshi Ebisu</i><br>SHIBUYA-KU EBISU 4-20-7, B1<br>03 5423 1111</li>
          <li><i>Marutei Toyohashi</i><br>TOYOHASHI-SHI  EKIMAE OODORI 2-10, 5F<br>0532 54 1211</li>
          <li><i>SEIBU Fukui</i><br>FUKUI-KEN FUKUI-SHI CHUO 1-8-1, 2F<br>0776 27 0111</li>
          <li><i>Nagano Tokyu</i><br>NAGANO-SHI MINAMICHITOSE-CHO 1-1-1, 4F<br>026 226 8181</li>
          <li><i>Maruiimai Sapporo</i><br>TOYOHASHI-SHI  EKIMAE OODORI 2-10, 5F<br>0532 54 1211 </li>
          <li><i>SEIBU Fukui</i><br>FUKUI-KEN FUKUI-SHI CHUO 1-8-1 , 2F<br>0776 27 0111</li>
          <li><i>Nagano Tokyu</i><br>NAGANO-SHI MINAMICHITOSE-CHO 1-1-1, 4F<br>026 226 8181</li>
          <li><i>Maruiimai Sapporo</i><br>CHUO-KU MINAMIICHIJO NISHI 2-11, 5F<br>011 205 1151</li>
          <li><i>JR Kyoto Isetan</i><br>KYOTO-SHI SHIMOKYO-KU<br>KARASUMADORI SHIOKOJI KUDARU HIGASHISHIOKOJI-CHO 901, 6F<br>075 351 7827</li>
          <li><i>Mitsukoshi Hoshigaoka</i><br>NAGOYA-SHI CHIKUSA-KU HOSHIGAOKAHONMACHI 14-14, 6F<br>052 783 1111</li>
          <li><i>JR Nagoya Takashimaya</i><br>NAGOYA-SHI NAKAMURA-KU MEIEKI 1-1-4, 8F<br>052 566 1101</li>
          <li><i>Shizuoka Isetan</i><br>SHIZUOKA-KEN AOI-KU GOFUKU-CHO 1-7, 5F<br>054 251 2211</li>
          <li><i>Hankyu Yurakutyo Men's Tokyo</i><br>TOKYO-TO CHIYODA-KU YURAKUCHO 2-5-1, 5F<br>03 6252 5393</li>
          <li><i>Entetsu Hamamatsu</i><br>SHIZUOKA-KEN HAMAMATSU-SHI NAKA-KU<br>SUNAYAMA-CHO 320-3, 6F<br>053 457 0001</li>
          <li><i>Isetan Matsudo</i><br>CHIBA-KEN MATSUDO-SHI MATSUDO1307-1, 5F<br>047 364 1111</li>
          <li><i>Takashimaya Kyoto</i><br>KYOTO-SHI SIMOKYO-KU SHIJODORI<br>KAWARAMACHI NISHIIRISIN-CHO 52<br>075 221 8811</li>
          <li><i>Kinetetsu Yokkaichi</i><br>YOKKAICHI-SHI SUWASAKAEMACHI 7-34 4/F<br>059 353 5151</li>
        </ul>
      </li>
      <li>
        <h3>London</h3>
        <ul class="addresses">
          <li><i>Piccadilly Arcade</i><br>2 PICCADILLY ARCADE,<br>LONDON, SW1Y 6NH<br>44 2070 369 320</li>
        </ul>
      </li>
      <li>
        <h3>Macau</h3>
        <ul class="addresses">
          <li><i>Cotai Strip</i><br>SHOP 2837 THE SHOPPES AT FOUR SEASONS<br>ESTRADA DA BAÍA DE N. SENHORA DA ESPERANÇA, S/N,<br>COTAI STRIP®, TAIPA, MACAO SAR, P.R. CHINA<br>853 2899 9908</li>
          <li><i>New Yaohan Department Store</i><br>SHOP#2-6, 2/F NEW YAOHAN,<br>1A NAM VAN LAKES, MACAO<br>853 2875 2083</li>
        </ul>
      </li>
      <li>
        <h3>Taiwan</h3>
        <ul class="addresses">
          <li><i>Taipei 101 Mall</i><br>2/F, NO. 45 SHIFU ROAD,<br>TAIPEI<br>02 8101 8105</li>
          <li><i>SOGO Chunghsiao</i><br>7/F, NO. 45, SEC. 4, CHUNG HSIAO EAST ROAD,<br>TAIPEI CITY<br>02 8771 0351</li>
          <li><i>Mitsukoshi Shin-Yi A9</i><br>2/F NO. 9 SONGSHOU ROAD,<br>TAIPEI 101, TAIWAN<br>02 2723 1481</li>
          <li><i>Howard Plaza</i><br>2/F, NO. 160 SEC. 3, REN-AI ROAD,<br>TAIPEI CITY<br>02 2784 9155</li>
          <li><i>The Mall</i><br>2/F, 203 TUN-HUA S. ROAD,<br>TAIPEI<br>02 2739 1820</li>
          <li><i>SOGO Fu Xing</i><br>7/F, NO. 300, SEC. 3, CHUNG HSIAO EAST ROAD,<br>TAIPEI CITY<br>02 8772 8602</li>
          <li><i>Mitsukoshi- Tainan</i><br>1/F, NO. 658, SEC 1, SIMEN RD,<br>WEST CENTRAL DISTRICT,<br>TAINAN CITY 700, TAIWAN<br>06 303 1035</li>
          <li><i>Mitsukoshi- Shinchu</i><br>2/F, NO.190, SEC. 2, ZHONGHUA RD,<br>EAST DISTRICT, HSINCHU CITY<br>03 5151 581</li>
          <li><i>Kaohsiung Department Store</i><br>3/F, NO. 266-1, CHENGGONG 1ST ROAD,<br>KAOHSIUNG CITY<br>07 241 2142</li>
          <li><i>Mitsukoshi- Taichung</i><br>2/F, NO. 111, SEC. 2, JHOMGGANG ROAD,<br>TAICHUNG CITY<br>04 2251 3945</li>
          <li><i>Taichung- Far Eastern Plaza</i><br>2/F, NO. 105, SEC. 2, JHOMGGANG ROAD, <br>TAICHUNG CITY<br>0422555184 </li>
        </ul>
      </li>
    </ul>

    <div class="spinner">
      <h6>Loading...</h6>
    </div>