#collections {
  margin-bottom: 600px;
}

#collections * {
  height: auto;
  display: inline-block;
  position: absolute;
}

#collections img {
  box-shadow: 0 1px 10px -2px rgba(0,0,0,.1),
              0 0 0 1px rgba(0,0,0,.03);
}

// Images width based on class.
.w21  {width:  21%;} //  605px on 15" Retina.
.w25  {width:  25%;} //  720px on 15" Retina.
.w28  {width:  28%;} //  807px on 15" Retina.
.w31  {width:  31%;} //  893px on 15" Retina.
.w34  {width:  34%;} //  980px on 15" Retina.
.w36  {width:  36%;} // 1037px on 15" Retina.
.w40  {width:  40%;} // 1152px on 15" Retina.
.w42  {width:  42%;} // 1210px on 15" Retina.
.w49  {width:  49%;} // 1412px on 15" Retina.
.full {width: 100%;} // 2880px on 15" Retina.

// Images position based on class.
.full {left:  0% !important;}
.l11  {left: 11% !important;}
.l24  {left: 24% !important;}
.l26  {left: 26% !important;}
.l28  {left: 28% !important;}
.l31  {left: 31% !important;}
.l36  {left: 36% !important;}
.l47  {left: 47% !important;}
.l50  {left: 50% !important;}
.l54  {left: 54% !important;}
.l57  {left: 57% !important;}
.l61  {left: 61% !important;}
.l66  {left: 66% !important;}
.l74  {left: 74% !important;}

#collections > *:nth-child(1)  {top:   300px;}
#collections > *:nth-child(2)  {top:     0px;}

#collections > *:nth-child(3)  {top:  1100px;}
#collections > *:nth-child(4)  {top:  1130px;}
#collections > *:nth-child(5)  {top:  1200px;}
#collections > *:nth-child(6)  {top:  2100px; z-index: 1;}

#collections > *:nth-child(7)  {top:  2000px;}
#collections > *:nth-child(8)  {top:  3150px;}

#collections > *:nth-child(9)  {top:  4850px; z-index: 2;}

#collections > *:nth-child(10) {top:  4550px;}
#collections > *:nth-child(11) {top:  3500px;}
#collections > *:nth-child(12) {top:  5800px;}

#collections > *:nth-child(13) {top:  7000px; z-index: 1;}
#collections > *:nth-child(14) {top:  4650px;}

#collections > *:nth-child(15) {top:  8550px; z-index: 2;}

#collections > *:nth-child(16) {top:  8200px;}
#collections > *:nth-child(17) {top:  5400px;}

#collections > *:nth-child(18) {top:  7770px; z-index: 1;}
#collections > *:nth-child(19) {top:  9850px;}

#collections > *:nth-child(20) {top: 11800px; z-index: 2;}

#collections > *:nth-child(21) {top: 20000px;}
#collections > *:nth-child(22) {top: 20000px;}
#collections > *:nth-child(23) {top: 20000px;}

#collections > *:nth-child(24) {top: 20000px;}
#collections > *:nth-child(25) {top: 20000px;}
#collections > *:nth-child(26) {top: 20000px;}

#collections > *:nth-child(27) {top: 20000px; z-index: 2;}

#collections > *:nth-child(28) {top: 20000px;}
#collections > *:nth-child(29) {top: 20000px;}

#collections > *:nth-child(30) {top: 20000px; z-index: 2;}

#collections > *:nth-child(31) {top: 20000px;}
#collections > *:nth-child(32) {top: 20000px;}
#collections > *:nth-child(33) {top: 20000px;}
#collections > *:nth-child(34) {top: 20000px;}

#collections > *:nth-child(35) {top: 20000px;}
#collections > *:nth-child(36) {top: 20000px;}
#collections > *:nth-child(37) {top: 20000px;}
#collections > *:nth-child(38) {top: 20000px;}

#collections > *:nth-child(39) {top: 20000px;}
#collections > *:nth-child(40) {top: 20800px;}
#collections > *:nth-child(41) {top: 21600px;}
#collections > *:nth-child(42) {top: 22400px;}
#collections > *:nth-child(43) {top: 23200px;}
#collections > *:nth-child(44) {top: 24000px;}
#collections > *:nth-child(45) {top: 24800px;}
#collections > *:nth-child(46) {top: 25600px;}
#collections > *:nth-child(47) {top: 26400px;}
#collections > *:nth-child(48) {top: 28200px;}
#collections > *:nth-child(49) {top: 29000px;}
#collections > *:nth-child(50) {top: 29800px;}
#collections > *:nth-child(51) {top: 30600px;}
#collections > *:nth-child(52) {top: 31400px;}
#collections > *:nth-child(53) {top: 32200px;}
#collections > *:nth-child(54) {top: 33000px;}
#collections > *:nth-child(55) {top: 33800px;}
#collections > *:nth-child(56) {top: 35600px;}
#collections > *:nth-child(57) {top: 36400px;}
#collections > *:nth-child(58) {top: 38200px;}
#collections > *:nth-child(59) {top: 39000px;}
#collections > *:nth-child(60) {top: 39800px;}
#collections > *:nth-child(61) {top: 40600px;}
#collections > *:nth-child(62) {top: 41400px;}
#collections > *:nth-child(63) {top: 42200px;}
#collections > *:nth-child(64) {top: 43000px;}










