#heritage {

  > *:nth-child(1) {
    height: 150%;
    overflow: hidden;
    > *:nth-child(1) {top: 300px;}
    > *:nth-child(2) {
      background-color: #CFCABE;
      padding: 0 10% 60%;
      width: 80%;
    }
  }

  > *:nth-child(2) {
    height: 110%;
    > *:nth-child(1) {}
    > *:nth-child(2) {top: 45%;}
  }

  > *:nth-child(3) {
    height: 30%;
    > *:nth-child(1) {top: 80%; box-shadow: none;}
    // > *:nth-child(1) {top: 30px; box-shadow: none;}
    // > *:nth-child(2) {top: 520px;}
  }

  > *:nth-child(4) {
    height: 75%;
    > *:nth-child(1) {z-index: 2;}
  }

  > *:nth-child(5) {
    height: 65%;
    > *:nth-child(1) {top: 30px;}
    > *:nth-child(2) {top: 80px;}
    > *:nth-child(3) {top: 300px;}
    > *:nth-child(4) {top: 180px; z-index: 1;}
    > *:nth-child(5) {top: 330px;}
  }

  > *:nth-child(6) {
    height: 75%;
    > *:nth-child(1) {top: 300px; z-index: 2;}
    > *:nth-child(2) { z-index: 1;}
  }

  > *:nth-child(7) {
    > *:nth-child(1) {}
    > *:nth-child(2) {top: 180px; z-index: 2;}
    > *:nth-child(3) {top: 120px; z-index: 1;}
    > *:nth-child(4) {top: 220px;}
  }

  > *:nth-child(8) {
    height: 160%;
    > *:nth-child(1) {}
    > *:nth-child(2) {top: 150px;}
  }

  > *:nth-child(9) {
    height: 90%;
    > *:nth-child(1) {}
    > *:nth-child(2) {top: 150px; box-shadow: none;}
    > *:nth-child(3) {top: 320px; box-shadow: none; z-index: 2;}
    > *:nth-child(4) {top: 150px; box-shadow: none;}
    > *:nth-child(5) {top: 320px; box-shadow: none; z-index: 2;}
    > *:nth-child(6) {top: 70px; box-shadow: none;}
    > *:nth-child(7) {top: 300px; box-shadow: none;}
    > *:nth-child(8) {top: 530px; box-shadow: none;}
  }

  > *:nth-child(10) {
    height: 40%;
    > *:nth-child(1) {}
  }

  > *:nth-child(11) {
    overflow: hidden;
    > *:nth-child(1) {top: 500px; z-index: 1;}
    > *:nth-child(2) {}
  }

  > *:nth-child(12) {
    height: 80%;
    z-index: 2;
    > *:nth-child(1) {top: 100px; box-shadow: none;}
    > *:nth-child(2) {top: 120px;}
    > *:nth-child(3) {top: 100%;}
  }

  > *:nth-child(13) {
    height: 75%;
    > *:nth-child(1) {top: 140px;}
    > *:nth-child(2) {top: 30px; z-index: 1;}
    > *:nth-child(3) {top: 250px;}
  }

  > *:nth-child(14) {
    height: 75%;
    > *:nth-child(1) {z-index: 1;}
    > *:nth-child(2) {top: 120%;}
  }

  > *:nth-child(15) {
    height: 70%;
    > *:nth-child(1) {}
  }

  > *:nth-child(16) {
    > *:nth-child(1) {top: 45%; z-index: 2;}
    > *:nth-child(2) {z-index: 1;}
  }

  > *:nth-child(17) {
    height: 140%;
    > *:nth-child(1) {z-index: 1;}
    > *:nth-child(2) {top: 150px; box-shadow: none;}
  }

  > *:nth-child(18) {
    height: 120%;
    > *:nth-child(1) {}
  }

  > *:nth-child(19) {
    height: 80%;
    > *:nth-child(1) {top: 30px; z-index: 1;}
    > *:nth-child(2) {top: 100%;}
  }

  > *:nth-child(20) {
    height: 80%;
    > *:nth-child(1) {top: 300px; z-index: 1;}
    > *:nth-child(2) {
      background-color: #FDF7E1;
      padding: 0 10% 10%;
      width: 80%;
    }
  }

  > *:nth-child(21) {
    height: 100%;
    z-index: 1;
    > *:nth-child(1) {z-index: 1;}
    > *:nth-child(2) {top: -100px; box-shadow: none;}
  }

  > *:nth-child(22) {
    height: 50%;
    > *:nth-child(1) {top: 40%;}
  }

}
