/* Transition animations. */

#home {

  #nav {
    opacity: 0;
  }

  .section {
    background-color: #111;
  }

  .cover {
    img {
      opacity: 0;
    }
    img.active {
      opacity: 1;
    }
  }
}

#home.ready {

  #nav {
    opacity: 1;
    -webkit-transition-duration: 3.75s;
       -moz-transition-duration: 3.75s;
         -o-transition-duration: 3.75s;
            transition-duration: 3.75s;
  }

  .cover img {
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
    -webkit-transition-duration: 3.75s;
       -moz-transition-duration: 3.75s;
         -o-transition-duration: 3.75s;
            transition-duration: 3.75s;
  }
}
