/* Transition animations. */

#home {
  background-color: #000;
}

#home .cover img {
  opacity: 0;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 3.75s;
     -moz-transition-duration: 3.75s;
       -o-transition-duration: 3.75s;
          transition-duration: 3.75s;
  -webkit-transition-delay: 2s;
     -moz-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
}
#home .cover img:nth-child(2) {
  -webkit-transition-delay: 12s;
     -moz-transition-delay: 12s;
       -o-transition-delay: 12s;
          transition-delay: 12s;
}
#home .cover img:nth-child(3) {
  -webkit-transition-delay: 22s;
     -moz-transition-delay: 22s;
       -o-transition-delay: 22s;
          transition-delay: 22s;
}

/* Once the page is ready. */

body.ready {
  #home .cover img {
    opacity: 1;
  }
}
