/* Copyright 2012 Savant. All Rights Reserved. */

/*
 * @fileoverview Kent & Curwen cover stylesheet.
 * @author nuno@savantstudio.co.uk (Nuno Coelho Santos).
 */

@charset "UTF-8";

// Browser Reset
html, body,
h1, h2, h3, h4, h5, h6, p,
.section, ul {
  margin: 0;
  padding: 0;
}

// General Styles
html, body {
  background-color: #000;
  position: relative;
}
.inactive {
  pointer-events: none;
  opacity: .5;
}

// Custom Typefaces
@font-face {
  font-family: "Filosita";
  font-style: italic;
  src: local("Filosita"),
  url("/typefaces/filosita.eot") format("embedded-opentype"),
  url("/typefaces/filosita.eot?#iefix") format("embedded-opentype"),
  url("/typefaces/filosita.woff") format("woff");
}

// Custom Typefaces
@font-face {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 900;
  src: local("Brandon Grotesque"),
  url("/typefaces/brandon-grotesque.eot") format("embedded-opentype"),
  url("/typefaces/brandon-grotesque.eot?#iefix") format("embedded-opentype"),
  url("/typefaces/brandon-grotesque.woff") format("woff");
}

html {
  body {
    overflow: hidden;
    font-family: "Filosita", serif;
    text-transform: none;
    letter-spacing: 1px;
    font-style: italic;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 17px;
    line-height: 21px;
    h1, h2, h3, h4, h5, h6 {
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
           -o-font-smoothing: antialiased;
              font-smoothing: antialiased;
    }
    h1 {
      font-size: 48px;
      line-height: 72px;
      letter-spacing: 8px;
      word-spacing: 16px;
      i {
        // display: inline-block;
        // margin-top: 80px;
        font-family: "Filosita", serif;
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;
           -moz-font-smoothing: subpixel-antialiased;
             -o-font-smoothing: subpixel-antialiased;
                font-smoothing: subpixel-antialiased;
      }
    }
    h2 {
      font-size: 34px;
      line-height: 51px;
      letter-spacing: 5px;
      word-spacing: 12px;
    }
    p {
      width: 440px;
      margin: 20px 0;
    }
    i, b, strong, em {
      font-style: italic;
      font-weight: normal;
    }
    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: #000;
      text-decoration: none;
      -webkit-transition-property: border-bottom-color;
         -moz-transition-property: border-bottom-color;
           -o-transition-property: border-bottom-color;
              transition-property: border-bottom-color;
      -webkit-transition-duration: 0.15s;
         -moz-transition-duration: 0.15s;
           -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }
    a:hover,
    a:active,
    a.active,
    a:focus {
      cursor: pointer;
      border-bottom-color: #000;
    }
  }
}

.section {
  background-color: #fff;
  display: block;
  float: left;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  // Add native style momentum to scrolling.
  // -webkit-overflow-scrolling: touch;
}

.parallax {
  > * {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    > * {
      height: auto;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  h1 {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 2;
    left: 0 !important;
  }
  img {
    padding: 0;
    height: auto;
    box-shadow: 0 1px 10px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.03);
  }
}

// Images with width based on class.
.w18  {width:  18%;} //  518px on 15" Retina.
.w21  {width:  21%;} //  605px on 15" Retina.
.w23  {width:  23%;} //  662px on 15" Retina.
.w25  {width:  25%;} //  720px on 15" Retina.
.w28  {width:  28%;} //  807px on 15" Retina.
.w31  {width:  31%;} //  893px on 15" Retina.
.w34  {width:  34%;} //  980px on 15" Retina.
.w36  {width:  36%;} // 1037px on 15" Retina.
.w40  {width:  40%;} // 1152px on 15" Retina.
.w42  {width:  42%;} // 1210px on 15" Retina.
.w49  {width:  49%;} // 1412px on 15" Retina.
.w50  {width:  50%;} // 1440px on 15" Retina.
.w62  {width:  62%;} // 1785px on 15" Retina.
.w68  {width:  68%;} // 1958px on 15" Retina.
.w80  {width:  80%;} // 2304px on 15" Retina.
.full {width: 100%;} // 2880px on 15" Retina.

// Images with position based on class.
.full {left:  0% !important;}
.l2   {left:  2% !important;}
.l6   {left:  6% !important;}
.l11  {left: 11% !important;}
.l14  {left: 14% !important;}
.l17  {left: 17% !important;}
.l24  {left: 24% !important;}
.l25  {left: 25% !important;}
.l26  {left: 26% !important;}
.l28  {left: 28% !important;}
.l31  {left: 31% !important;}
.l36  {left: 36% !important;}
.l38  {left: 38% !important;}
.l40  {left: 40% !important;}
.l44  {left: 44% !important;}
.l47  {left: 47% !important;}
.l50  {left: 50% !important;}
.l52  {left: 52% !important;}
.l54  {left: 54% !important;}
.l57  {left: 57% !important;}
.l61  {left: 61% !important;}
.l66  {left: 66% !important;}
.l74  {left: 74% !important;}
.l79  {left: 79% !important;}

// Interface elements
@import "nav.scss";

// Sections
@import "home.scss";
@import "home.header.scss";
@import "collections.scss";
@import "heritage.scss";
@import "news.scss";
@import "stores.scss";

// Media Queries
@import "queries.scss";
