/* Copyright 2012 Savant. All Rights Reserved. */
/*
 * @fileoverview Kent & Curwen cover stylesheet.
 * @author nuno@savantstudio.co.uk (Nuno Coelho Santos).
 */
/* Baseline Styles */
/* Type */
/* Import custom typeface */
@font-face {
  font-family: 'Filosita';
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
  src: local("Filosita"), url(/typefaces/filosita-071211002EmigreWebOnly.eot) format("embedded-opentype"), url(/typefaces/filosita-071211002EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(/typefaces/filosita-071211002EmigreWebOnly.woff) format("woff"); }

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  html body {
    font-family: 'Filosita', serif;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic; }
    html body a,
    html body a:link,
    html body a:visited,
    html body a:hover,
    html body a:active,
    html body a:focus {
      text-decoration: none;
      -webkit-transition-property: border-bottom-color;
      -moz-transition-property: border-bottom-color;
      -o-transition-property: border-bottom-color;
      transition-property: border-bottom-color;
      -webkit-transition-duration: 0.15s;
      -moz-transition-duration: 0.15s;
      -o-transition-duration: 0.15s;
      transition-duration: 0.15s;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent; }
    html body a:hover,
    html body a:active,
    html body a:focus {
      cursor: pointer;
      border-bottom-color: #fff; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body nav {
      font-family: "brandon-grotesque";
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 3px; }
    html body nav i {
      font-family: 'Filosita', serif;
      text-transform: none;
      letter-spacing: 0;
      font-style: italic;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-font-smoothing: subpixel-antialiased;
      -o-font-smoothing: subpixel-antialiased;
      font-smoothing: subpixel-antialiased; }

/* Page header with the brand name on the opening page */
header {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1015px;
  height: 80px;
  margin: -40px 0 0 -507.5px; }
  header h1 {
    margin: 0;
    height: 80px;
    display: block;
    width: 1015px;
    height: 80px;
    margin: 0; }

header h1 span {
  font-size: 0;
  color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 80px;
  display: inline-block;
  float: left;
  position: relative;
  /* Make the declaration important for better Firefox compability*/
  background-size: 772px 150px !important; }

/* First Character (K) */
header h1 span:nth-child(1) {
  background: url(../graphics/sprite-logotype.png) -350px 0px no-repeat;
  margin: 0 0 0 7px;
  width: 75px;
  -webkit-transform: translateX(-37px);
  -webkit-animation: letter1 20s ease-out;
  -moz-animation: letter1 20s ease-out;
  -o-animation: letter1 20s ease-out;
  animation: letter1 20s ease-out; }

/* Second Character (E) */
header h1 span:nth-child(2) {
  background: url(../graphics/sprite-logotype.png) -216px 0px no-repeat;
  margin: 0 7px;
  width: 64px;
  -webkit-transform: translateX(-31px);
  -webkit-animation: letter2 20s ease-out;
  -moz-animation: letter2 20s ease-out;
  -o-animation: letter2 20s ease-out;
  animation: letter2 20s ease-out; }

/* Third Character (N) */
header h1 span:nth-child(3) {
  background: url(../graphics/sprite-logotype.png) -426px 0px no-repeat;
  margin: 0 7px;
  width: 79px;
  -webkit-transform: translateX(-21px);
  -webkit-animation: letter3 20s ease-out;
  -moz-animation: letter3 20s ease-out;
  -o-animation: letter3 20s ease-out;
  animation: letter3 20s ease-out; }

/* Fourth Character (T) */
header h1 span:nth-child(4) {
  background: url(../graphics/sprite-logotype.png) -281px 0px no-repeat;
  margin: 0 4px;
  width: 68px;
  -webkit-transform: translateX(-17px);
  -webkit-animation: letter4 20s ease-out;
  -moz-animation: letter4 20s ease-out;
  -o-animation: letter4 20s ease-out;
  animation: letter4 20s ease-out; }

/* Fifth Character (Ampersand) */
header h1 span:nth-child(5) {
  background: url(../graphics/sprite-logotype.png) -76px 0px no-repeat;
  margin: 0 40px 0 44px;
  width: 72px;
  -webkit-transform: translateX(-10px);
  -webkit-animation: letter5 20s ease-out;
  -moz-animation: letter5 20s ease-out;
  -o-animation: letter5 20s ease-out;
  animation: letter5 20s ease-out; }

/* Sixth Character (C) */
header h1 span:nth-child(6) {
  background: url(../graphics/sprite-logotype.png) -149px 0px no-repeat;
  margin: 0 5px 0 6px;
  width: 66px;
  -webkit-transform: translateX(2px);
  -webkit-animation: letter6 20s ease-out;
  -moz-animation: letter6 20s ease-out;
  -o-animation: letter6 20s ease-out;
  animation: letter6 20s ease-out; }

/* Seventh Character (U) */
header h1 span:nth-child(7) {
  background: url(../graphics/sprite-logotype.png) -582px 0px no-repeat;
  margin: 0 7px;
  width: 79px;
  -webkit-transform: translateX(10px);
  -webkit-animation: letter7 20s ease-out;
  -moz-animation: letter7 20s ease-out;
  -o-animation: letter7 20s ease-out;
  animation: letter7 20s ease-out; }

/* Eighth Character (R) */
header h1 span:nth-child(8) {
  background: url(../graphics/sprite-logotype.png) -506px 0px no-repeat;
  margin: 0 0 0 4px;
  width: 75px;
  -webkit-transform: translateX(19px);
  -webkit-animation: letter8 20s ease-out;
  -moz-animation: letter8 20s ease-out;
  -o-animation: letter8 20s ease-out;
  animation: letter8 20s ease-out; }

/* Ninth Character (W) */
header h1 span:nth-child(9) {
  background: url(../graphics/sprite-logotype.png) -662px 0px no-repeat;
  margin: 0;
  width: 110px;
  -webkit-transform: translateX(28px);
  -webkit-animation: letter9 20s ease-out;
  -moz-animation: letter9 20s ease-out;
  -o-animation: letter9 20s ease-out;
  animation: letter9 20s ease-out; }

/* Tenth Character (E) */
header h1 span:nth-child(10) {
  background: url(../graphics/sprite-logotype.png) -216px 0px no-repeat;
  margin: 0 7px;
  width: 64px;
  -webkit-transform: translateX(38px);
  -webkit-animation: letter10 20s ease-out;
  -moz-animation: letter10 20s ease-out;
  -o-animation: letter10 20s ease-out;
  animation: letter10 20s ease-out; }

/* Eleventh Character (N) */
header h1 span:nth-child(11) {
  background: url(../graphics/sprite-logotype.png) -426px 0px no-repeat;
  margin: 0 7px;
  width: 79px;
  -webkit-transform: translateX(46px);
  -webkit-animation: letter11 20s ease-out;
  -moz-animation: letter11 20s ease-out;
  -o-animation: letter11 20s ease-out;
  animation: letter11 20s ease-out; }

/* Animation A */
/*
@-webkit-keyframes letter1 {
  0%   {-webkit-transform: translateX(374px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-37px);}
}
@-webkit-keyframes letter2 {
  0%   {-webkit-transform: translateX(310px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-31px);}
}
@-webkit-keyframes letter3 {
  0%   {-webkit-transform: translateX(217px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-21px);}
}
@-webkit-keyframes letter4 {
  0%   {-webkit-transform: translateX(174px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-17px);}
}
@-webkit-keyframes letter5 {
  0%   {-webkit-transform: translateX(101px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(-10px);}
}
@-webkit-keyframes letter6 {
  0%   {-webkit-transform: translateX(-16px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(2px);}
}
@-webkit-keyframes letter7 {
  0%   {-webkit-transform: translateX(-101px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(10px);}
}
@-webkit-keyframes letter8 {
  0%   {-webkit-transform: translateX(-187px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(19px);}
}
@-webkit-keyframes letter9 {
  0%   {-webkit-transform: translateX(-281px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(28px);}
}
@-webkit-keyframes letter10 {
  0%   {-webkit-transform: translateX(-375px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(38px);}
}
@-webkit-keyframes letter11 {
  0%   {-webkit-transform: translateX(-461px) scale(.95); opacity: 0; -webkit-filter: blur(3px);}
  2%   {opacity: 0;}
  8%   {opacity: 1; -webkit-filter: blur(0);}
  30%  {-webkit-transform: translateX(0) scale(1);}
  100% {-webkit-transform: translateX(46px);}
}
*/
/* Animation B */
@-webkit-keyframes letter1 {
  0% {
    -webkit-transform: translateX(74px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-37px); } }

@-webkit-keyframes letter2 {
  0% {
    -webkit-transform: translateX(62px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-31px); } }

@-webkit-keyframes letter3 {
  0% {
    -webkit-transform: translateX(42px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-21px); } }

@-webkit-keyframes letter4 {
  0% {
    -webkit-transform: translateX(34px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-17px); } }

@-webkit-keyframes letter5 {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-10px); } }

@-webkit-keyframes letter6 {
  0% {
    -webkit-transform: translateX(-4px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(2px); } }

@-webkit-keyframes letter7 {
  0% {
    -webkit-transform: translateX(-20px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(10px); } }

@-webkit-keyframes letter8 {
  0% {
    -webkit-transform: translateX(-38px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(19px); } }

@-webkit-keyframes letter9 {
  0% {
    -webkit-transform: translateX(-56px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(28px); } }

@-webkit-keyframes letter10 {
  0% {
    -webkit-transform: translateX(-76px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(38px); } }

@-webkit-keyframes letter11 {
  0% {
    -webkit-transform: translateX(-92px);
    opacity: 0;
    -webkit-filter: blur(9px); }

  2% {
    opacity: 0; }

  4% {
    -webkit-filter: blur(0); }

  8% {
    opacity: 1; }

  30% {
    -webkit-transform: translateX(0); }

  100% {
    -webkit-transform: translateX(46px); } }

/* Navigation */
nav {
  z-index: 3; }
  nav #symbol {
    background: url(../graphics/sprite-logotype.png) 0px 0px no-repeat;
    background-size: 772px 150px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 150px;
    left: 40px;
    padding-bottom: 6px;
    position: absolute;
    top: 40px;
    width: 75px; }
  nav ul {
    position: absolute;
    right: 40px;
    top: 157px; }
    nav ul li {
      display: inline-block;
      margin-left: 15px;
      text-transform: uppercase; }
      nav ul li a {
        color: #fff; }
        nav ul li a i {
          text-transform: lowercase; }

/* Transition animations. */
nav {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3.75s;
  -moz-transition-duration: 3.75s;
  -o-transition-duration: 3.75s;
  transition-duration: 3.75s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

/* Once the page is ready. */
body.ready nav {
  opacity: 1; }

/* Cover page specific styles */
#cover {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  #cover img {
    position: absolute;
    top: 0;
    left: 0; }

/* Transition animations. */
#cover img {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3.75s;
  -moz-transition-duration: 3.75s;
  -o-transition-duration: 3.75s;
  transition-duration: 3.75s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

#cover img:nth-child(2) {
  -webkit-transition-delay: 10s;
  -moz-transition-delay: 10s;
  -o-transition-delay: 10s;
  transition-delay: 10s; }

#cover img:nth-child(3) {
  -webkit-transition-delay: 20s;
  -moz-transition-delay: 20s;
  -o-transition-delay: 20s;
  transition-delay: 20s; }

/* Once the page is ready. */
body.ready #cover img {
  opacity: 1; }

/* Average screen size */
@media only screen and (max-width: 1100px) {
  header {
    zoom: 65%; } }
/* Small-sized screens */
@media only screen and (max-width: 800px) {
  header {
    zoom: 45%; }

  nav ul {
    top: 70px; }
    nav ul li {
      margin-bottom: 5px;
      display: block;
      text-align: right; } }
/* Phone-sized screens */
@media only screen and (max-width: 500px) {
  header {
    display: none; } }
