/* Copyright 2012 Savant. All Rights Reserved. */

/*
 * @fileoverview Kent & Curwen cover stylesheet.
 * @author nuno@savantstudio.co.uk (Nuno Coelho Santos).
 */

@charset "UTF-8";

// Interface elements
@import "nav.scss";

// Sections
@import "home.scss";
@import "home.header.scss";
@import "collections.scss";
@import "heritage.scss";
@import "news.scss";
@import "stores.scss";

// Media Queries
@import "queries.scss";

// Browser Reset

html, body,
h1, h2, h3, h4, h5, h6, p,
.section, ul {
  margin: 0;
  padding: 0;
}

// General Styles
html, body {
  overflow: hidden;
  background-color: #000;
}

a.inactive {
  pointer-events: none;
  opacity: .5;
}

// Custom Typefaces
@font-face {
  font-family:  'Filosita';
  font-weight:  normal;
  font-style: italic;
  font-variant: normal;
  src: local('Filosita'),
  url(/typefaces/filosita-071211002EmigreWebOnly.eot) format('embedded-opentype'),
  url(/typefaces/filosita-071211002EmigreWebOnly.eot?#iefix) format('embedded-opentype'),
  url(/typefaces/filosita-071211002EmigreWebOnly.woff) format('woff')
}

html {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
  body {
    font-family: 'Filosita', serif;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    i, b, strong, em {
      font-style: italic;
      font-weight: normal;
    }
    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: #000;
      text-decoration: none;
      -webkit-transition-property: border-bottom-color;
         -moz-transition-property: border-bottom-color;
           -o-transition-property: border-bottom-color;
              transition-property: border-bottom-color;
      -webkit-transition-duration: 0.15s;
         -moz-transition-duration: 0.15s;
           -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }
    a:hover,
    a:active,
    a:focus {
      cursor: pointer;
      border-bottom-color: #000;
    }
    h1, h2, h3, h4, h5, h6, #nav {
      font-family: "brandon-grotesque";
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    #nav i {
      font-family: 'Filosita', serif;
      text-transform: none;
      letter-spacing: 0;
      font-style: italic;

      -webkit-font-smoothing: subpixel-antialiased;
         -moz-font-smoothing: subpixel-antialiased;
           -o-font-smoothing: subpixel-antialiased;
              font-smoothing: subpixel-antialiased;
    }
  }
}


.section {
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  float: left;
  position: relative;
  h1 {
    color: white;
    text-align: center;
    top: 40%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  img {

  }
  img.full {
    width: 100%;
    height: auto;
  }
  img.cover {

  }
}

/* Cover page specific styles */







#collections {
}

#heritage {
  background-color: blue;
}

#news {
  background-color: yellow;
}

#stores {
  background-color: aqua;
}
