/* Navigation */

#nav {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  left: 0;
  height: 200px;
  // Enable scrolling on the elements below.
  // pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 10;
  font-weight: 900;
  #symbol {
    background: url(../media/sprite-logotype.png) 0px 0px no-repeat;
    background-size: 772px 150px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 150px;
    left: 40px;
    padding-bottom: 6px;
    // Re-enable clicks.
    // pointer-events: auto;
    position: absolute;
    top: 25px;
    width: 75px;
  }
  #symbol:hover,
  #symbol.active {
    border-bottom-color: transparent;
  }
  a {
    color: #fff;
    -webkit-transition-property: border-bottom-color;
       -moz-transition-property: border-bottom-color;
         -o-transition-property: border-bottom-color;
            transition-property: border-bottom-color;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  a:hover,
  a.active {
    cursor: pointer;
    border-bottom-color: #fff;
  }
  ul {
    opacity: 1;
    // Re-enable clicks.
    // pointer-events: auto;
    position: absolute;
    right: 40px;
    top: 157px;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
    li {
      display: inline-block;
      font-family: "Brandon Grotesque", Helvetica, sans-serif;
      font-style: normal;
      letter-spacing: 3px;
      margin-left: 15px;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
           -o-font-smoothing: antialiased;
              font-smoothing: antialiased;
      a i {
        letter-spacing: 1px;
        font-family: 'Filosita', serif;
        font-style: italic;
        text-transform: lowercase;
      }
    }
  }
}

#nav.top {
  background-color: rgba(0,0,0,0);
  #symbol,
  ul {
    opacity: 1;
  }
}


#nav.hidden {
  background-color: rgba(0,0,0,0);
  #symbol,
  ul {
    opacity: 0;
  }
}

#nav.hidden:hover {
  background-color: rgba(0,0,0,.75);
  #symbol,
  ul {
    opacity: 1;
  }
}


/* Transition animations. */

#nav {
  opacity: 0;
  -webkit-transition-property: background-color, opacity;
     -moz-transition-property: background-color, opacity;
       -o-transition-property: background-color, opacity;
          transition-property: background-color, opacity;
  -webkit-transition-duration: .35s;
     -moz-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
}

#nav #symbol,
#nav ul {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: .35s;
     -moz-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
}

/* Once the page is ready. */

body.ready {
  #nav {
    opacity: 1;
  }
}
