/* Navigation */

#nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  #symbol {
    background: url(../graphics/sprite-logotype.png) 0px 0px no-repeat;
    background-size: 772px 150px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 150px;
    left: 40px;
    padding-bottom: 6px;
    position: absolute;
    top: 40px;
    width: 75px;
  }
  a {
    color: #fff;
  }
  a:hover,
  a:active,
  a:focus {
    border-bottom-color: #fff;
  }
  ul {
    position: absolute;
    right: 40px;
    top: 157px;
    li {
      display: inline-block;
      margin-left: 15px;
      text-transform: uppercase;
      a i {
        text-transform: lowercase;
      }
    }
  }
}

/* Transition animations. */

#nav {
  opacity: 0;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 3.75s;
     -moz-transition-duration: 3.75s;
       -o-transition-duration: 3.75s;
          transition-duration: 3.75s;
  -webkit-transition-delay: 1s;
     -moz-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

/* Once the page is ready. */

body.ready {
  #nav {
    opacity: 1;
  }
}
