/* Navigation */

#nav {
  position: fixed;
  left: 0;
  height: 200px;
   // Enable scrolling on the elements below.
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 3;
  #symbol {
    background: url(../graphics/sprite-logotype.png) 0px 0px no-repeat;
    background-size: 772px 150px;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 150px;
    left: 40px;
    padding-bottom: 6px;
    // Re-enable clicks.
    pointer-events: auto;
    position: absolute;
    top: 25px;
    width: 75px;
  }
  span {
    color: #fff;
    -webkit-transition-property: border-bottom-color;
       -moz-transition-property: border-bottom-color;
         -o-transition-property: border-bottom-color;
            transition-property: border-bottom-color;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  span:hover{
    cursor: pointer;
    border-bottom-color: #fff;
  }
  ul {
    // Re-enable clicks.
    pointer-events: auto;
    position: absolute;
    right: 40px;
    top: 157px;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
    li {
      display: inline-block;
      margin-left: 15px;
      text-transform: uppercase;
      span i {
        text-transform: lowercase;
      }
    }
  }
}

/* Transition animations. */

#nav {
  opacity: 0;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 3.75s;
     -moz-transition-duration: 3.75s;
       -o-transition-duration: 3.75s;
          transition-duration: 3.75s;
  -webkit-transition-delay: 1s;
     -moz-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

/* Once the page is ready. */

body.ready {
  #nav {
    opacity: 1;
  }
}
