#news {

  padding-top: 200px;
  position: relative;

  > div {
    width: 100%;
    float: left;
    margin-bottom: 160px;
  }

  .text {
    margin-top: 50px;
    margin-left: 5%;
    width: 25%;
    text-align: center;
    float: left;
    > * {
      width: 100%;
    }
  }

  .images {
    margin-top: 50px;
    float: right;
    width: 65%;
    .col {
      border-top: 3px solid #fff;
      width: 33.3%;
      float: left;
      img {
        width: 99%;
        border-bottom: 3px solid #fff;
      }
    }
    .col:last-child {
      float: right;
      img {
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
  }
}

.article.sticky {
  .text {
    position: fixed;
    top: 0;
    left: 0;
  }
}
