#news {

  > div {
    width: 85%;
    float: right;
    margin-bottom: 160px;
  }

  .text {
    margin-top: 50px;
    width: 340px;
    text-align: center;
    > * {
      width: 100%;
    }
  }

  .images {
    float: right;
    width: 65%;
    .col {
      border-top: 3px solid #fff;
      width: 33.4%;
      float: left;
      img {
        width: 99%;
        border-bottom: 3px solid #fff;
      }
    }
    .col:last-child {
      img {
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
  }

}

.article.sticky {
  .text {
    position: fixed;
    top: 0;
    left: 15%;
  }
}
