/* Average screen size */

@media only screen and (max-width: 1125px) {

  #header {
    zoom: 65%;
  }

}

/* Small-sized screens */

@media only screen and (max-width: 750px) {

  #header {
    zoom: 45%;
  }
  #nav {
    ul {
      top: 70px;
      li {
        margin-bottom: 5px;
        display: block;
        text-align: right;
      }
    }
  }

}

/* Phone-sized screens */

@media only screen and (max-width: 375px) {

  #header {
    zoom: 30%;
  }

}
