/* Average screen size */

@media only screen and (max-width: 1125px) {

  #header {
    zoom: 65%;
  }

}

/* Small-sized screens */

@media only screen and (max-width: 750px) {


  #nav {
    zoom: 50%;
    ul {
      top: 25px;
      li {
        height: 20px;
        margin-bottom: 20px;
        display: block;
        text-align: right;
      }
    }
  }

  #header {
    zoom: 40%;
  }

  .section > * {
    zoom: 50%;
    p {
      zoom: 200%;
    }
  }

  #collections > *:first-child img,
  #stores > *:first-child img {
    width: 200%;
  }

  #home > * {
    zoom: 100%;
  }

}

/* Phone-sized screens */

@media only screen and (max-width: 375px) {

  #header {
    zoom: 25%;
  }

}

@media only screen and (max-width: 750px) and (orientation: landscape) {

  #header {
    top: 66%;
  }
}


// Mobile specific.

body.mobile {

  #nav {
    background-color: rgba(0,0,0,.65);
    #symbol,
    ul {
      opacity: 1;
    }
  }

}


// Desktop specific.

body.desktop {

}


