/* Average screen size */

@media only screen and (max-width: 1100px) {

  #header {
    zoom: 65%;
  }

}

/* Small-sized screens */

@media only screen and (max-width: 800px) {

  #header {
    zoom: 45%;
  }
  #nav {
    ul {
      top: 70px;
      li {
        margin-bottom: 5px;
        display: block;
        text-align: right;
      }
    }
  }

}

/* Phone-sized screens */

@media only screen and (max-width: 500px) {

  #header {
    display: none;
  }


}
