#stores {

  overflow: visible;
  background-color: #fff;

  * {
    // overflow: hidden;
  }

  > div {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;

    h1 {
      position: absolute;
      top: 300px;
      width: 100%;
      text-align: center;
      color: #fff;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  > ul {
    width: 90%;
    margin: 160px 5%;
    > li {
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    li {
      overflow: hidden;
      font-weight: 400;
      margin-bottom: 20px;
      min-height: 50px;
      -webkit-transition-property: height;
         -moz-transition-property: height;
           -o-transition-property: height;
              transition-property: height;
      -webkit-transition-duration: 0.75s;
         -moz-transition-duration: 0.75s;
           -o-transition-duration: 0.75s;
              transition-duration: 0.75s;
    }
    i {
      font-family: "Filosita", serif;
      font-style: italic;
      -webkit-font-smoothing: subpixel-antialiased;
         -moz-font-smoothing: subpixel-antialiased;
           -o-font-smoothing: subpixel-antialiased;
              font-smoothing: subpixel-antialiased;
    }
    h3,
    h4 {
      clear: both;
      -webkit-transition-property: color;
         -moz-transition-property: color;
           -o-transition-property: color;
              transition-property: color;
      -webkit-transition-duration: 0.25s;
         -moz-transition-duration: 0.25s;
           -o-transition-duration: 0.25s;
              transition-duration: 0.25s;
    }
    h3:hover,
    h4:hover {
      cursor: pointer;
      color: #666;
    }
    h3,
    h4,
    h5 {
      font-weight: 900;
      margin: 0 0 30px 0;
    }
  }
}

.addresses {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap:40px;
     -moz-column-gap:40px;
          column-gap:40px;
  li {
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: .9em;
    display: inline-block;
    h5 {
      font-size: 1em;
    }
  }
}

li.closed {
  height: 40px !important;
}

#stores #nav {
  position: absolute;
  height: 200px;
}
