#stores {

  * {
    overflow: hidden;
  }

  > div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 300px;
      width: 100%;
      text-align: center;
      color: #fff;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  > ul {
    width: 90%;
    margin: 160px 5%;
    > li {
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    li {
      font-weight: 400;
      margin-bottom: 20px;
      min-height: 50px;
    }
    i {
      font-family: 'Filosita', serif;
      font-style: italic;
      -webkit-font-smoothing: subpixel-antialiased;
         -moz-font-smoothing: subpixel-antialiased;
           -o-font-smoothing: subpixel-antialiased;
              font-smoothing: subpixel-antialiased;
    }
    h3, h4 {
      clear: both;
    }
    h3, h4, h5 {
      font-weight: 900;
      margin: 0 0 30px 0;
    }
  }
}

.addresses {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap:40px;
     -moz-column-gap:40px;
          column-gap:40px;
  li {
    font-family: "brandon-grotesque", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: .9em;
    display: inline-block;
    h5 {
      font-size: 1em;
    }
  }
}

ul.closed {
  height: 0 !important;
}
