/* Type */

/* Import custom typeface */
@font-face {
  font-family:  'Filosita';
  font-weight:  normal;
  font-style: italic;
  font-variant: normal;
  src: local('Filosita'),
     url(/typefaces/filosita-071211002EmigreWebOnly.eot) format('embedded-opentype'),
     url(/typefaces/filosita-071211002EmigreWebOnly.eot?#iefix) format('embedded-opentype'),
     url(/typefaces/filosita-071211002EmigreWebOnly.woff) format('woff')
  }

html {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
  body {
    font-family: 'Filosita', serif;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      -webkit-transition-property: border-bottom-color;
         -moz-transition-property: border-bottom-color;
           -o-transition-property: border-bottom-color;
              transition-property: border-bottom-color;
      -webkit-transition-duration: 0.15s;
         -moz-transition-duration: 0.15s;
           -o-transition-duration: 0.15s;
              transition-duration: 0.15s;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }
    a:hover,
    a:active,
    a:focus {
      cursor: pointer;
      border-bottom-color: #fff;
    }
    h1, h2, h3, h4, h5, h6, nav {
      font-family: "brandon-grotesque";
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    nav i {
      font-family: 'Filosita', serif;
      text-transform: none;
      letter-spacing: 0;
      font-style: italic;

      -webkit-font-smoothing: subpixel-antialiased;
         -moz-font-smoothing: subpixel-antialiased;
           -o-font-smoothing: subpixel-antialiased;
              font-smoothing: subpixel-antialiased;
    }
  }
}
