---
title: Kent &amp; Curwen
layout: cover
---
<div id="nav">
      <a href="#" id="symbol">Home</a>
      <ul>
        <li>
          <a href="/collections/">Collections</a>
        </li>
        <li>
          <a href="/heritage/"><i>Our</i> Heritage</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
        <li>
          <a href="/stores/"><i>Our</i> Stores</a>
        </li>
      </ul>
    </div>

    <div id="header">
      <h1>
        <b class="nth-child-1">K</b><b class="nth-child-2">E</b><b class="nth-child-3">N</b><b class="nth-child-4">T</b>
        <b class="nth-child-5">&amp;</b>
        <b class="nth-child-6">C</b><b class="nth-child-7">U</b><b class="nth-child-8">R</b><b class="nth-child-9">W</b><b class="nth-child-10">E</b><b class="nth-child-11">N</b>
      </h1>
    </div>

    <div class="cover">
      <img alt="Kent &amp; Curwen 2012 Cover Image" width="1440" height="1025"
        src="http://media.savantstudio.co.uk/kentandcurwen/kent-and-curwen-cover-1.jpg">
      <img alt="Kent &amp; Curwen 2012 Cover Image" width="1440" height="1025"
        src="http://media.savantstudio.co.uk/kentandcurwen/kent-and-curwen-cover-2.jpg">
      <img alt="Kent &amp; Curwen 2012 Cover Image" width="1440" height="1025"
        src="http://media.savantstudio.co.uk/kentandcurwen/kent-and-curwen-cover-3.jpg">
    </div>