---
title: Welcome to Middleman
---


    <div id="nav" class="top">
      <a href="#" id="symbol">Home</a>
      <ul>
        <li>
          <a href="/collections/">Collections</a>
        </li>
        <li>
          <a href="/heritage/"><i>Our</i> Heritage</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
        <li>
          <a href="/stores/"><i>Our</i> Stores</a>
        </li>
      </ul>
    </div>


    <div class="section">
      <div id="header">
        <h1>
          <b>K</b><b>E</b><b>N</b><b>T</b>
          <b>&amp;</b>
          <b>C</b><b>U</b><b>R</b><b>W</b><b>E</b><b>N</b>
        </h1>
      </div>
      <div class="cover">
        <img width="2880" height="2050" src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-cover-1.jpg" alt="Kent &amp; Curwen 2012 Cover Image">
        <img width="2880" height="2050" src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-cover-2.jpg" alt="Kent &amp; Curwen 2012 Cover Image">
        <img width="2880" height="2050" src="http://media.a.kentandcurwen.co.uk/kent-and-curwen-cover-3.jpg" alt="Kent &amp; Curwen 2012 Cover Image">
      </div>
    </div>

    <!-- Scripts -->
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="/javascripts/library.jquery.js"></script>
    <script src="/javascripts/plugin.stellar.js"></script>
    <script src="/javascripts/plugin.stickysectionheaders.js"></script>
    <script src="/javascripts/main.js"></script>

    <!-- Analytics -->
    <script type="text/javascript" src="http://mint.kentandcurwen.co.uk/?js"></script>
  </body>
</html>
